15.09.2021 Севастьянов Даниил, урок

In [ ]:
#типы данных-int float bool кортеж словарь список датафрейм
#функция - def(a,b,c)
# return a+b+c
#с учителем- когда есть ответы
#без учителя- когда нет ответов
#классификация- разделить множество объектов на группы
#кластеризация- разделить множество объектов по признакам
#регрессия - определить значение 
#MSE- для регрессии
#recall для классификации
#accuracy - точность

In [20]:
from google.colab import drive
drive.mount("/content/gdrive")
import pandas as pd
import numpy as np
df = pd.read_csv("/content/gdrive/MyDrive/ii/dataset.csv")
df

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

              id    spkid          full_name  ...     sigma_per class      rms
0       a0000001  2000001            1 Ceres  ...  9.415900e-09   MBA  0.43301
1       a0000002  2000002           2 Pallas  ...  3.680700e-06   MBA  0.35936
2       a0000003  2000003             3 Juno  ...  3.107200e-06   MBA  0.33848
3       a0000004  2000004            4 Vesta  ...  1.274900e-06   MBA  0.39980
4       a0000005  2000005          5 Astraea  ...  3.490500e-06   MBA  0.52191
...          ...      ...                ...  ...           ...   ...      ...
958519  bPLS6013  3246801         (6013 P-L)  ...  7.264900e+02   MBA  0.23839
958520  bPLS6331  3246834         (6331 P-L)  ...  1.578500e-05   MBA  0.53633
958521  bPLS6344  3013075         (6344 P-L)  ...  9.127500e-05   APO  0.51556
958522  bT2S2060  3246457         (2060 T-2)  ...  5.035500e+02   MBA  0.25641
958523  bT3S2678  3246553         (2678 T-3)  ...  1.064800e+02   MBA  0.26980

[958524 rows x 45 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 45 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              958524 non-null  object
 1   spkid           958524 non-null  int64
 2   full_name       958524 non-null  object
 3   pdes            958524 non-null  object
 4   name            22064 non-null   object
 5   prefix          18 non-null      object
 6   neo             958520 non-null  object
 7   pha             938603 non-null  object
 8   H               952261 non-null  float64
 9   diameter        136209 non-null  float64
 10  albedo          135103 non-null  float64
 11  diameter_sigma  136081 non-null  float64
 12  orbit_id        958524 non-null  object
 13  epoch           958524 non-null  float64
 14  epoch_mjd       958524 non-null  int64
 15  epoch_cal       958524 non-null  float64
 16  equinox         958524 non-null  object
 17  e               958524 non-null  float64
 18  a               958524 non-null  float64
 19  q               958524 non-null  float64
 20  i               958524 non-null  float64
 21  om              958524 non-null  float64
 22  w               958524 non-null  float64
 23  ma              958523 non-null  float64
 24  ad              958520 non-null  float64
 25  n               958524 non-null  float64
 26  tp              958524 non-null  float64
 27  tp_cal          958524 non-null  float64
 28  per             958520 non-null  float64
 29  per_y           958523 non-null  float64
 30  moid            938603 non-null  float64
 31  moid_ld         958397 non-null  float64
 32  sigma_e         938602 non-null  float64
 33  sigma_a         938602 non-null  float64
 34  sigma_q         938602 non-null  float64
 35  sigma_i         938602 non-null  float64
 36  sigma_om        938602 non-null  float64
 37  sigma_w         938602 non-null  float64
 38  sigma_ma        938602 non-null  float64
 39  sigma_ad        938598 non-null  float64
 40  sigma_n         938602 non-null  float64
 41  sigma_tp        938602 non-null  float64
 42  sigma_per       938598 non-null  float64
 43  class           958524 non-null  object
 44  rms             958522 non-null  float64
dtypes: float64(33), int64(2), object(10)
memory usage: 329.1+ MB

In [21]:
import pandas as pd
import numpy as np
df.isnull().sum()
print("##########################")
df=df.drop(['name','prefix'],axis=1)
df=df.drop(['id','spkid','full_name','equinox','orbit_id','pdes'],axis=1)

##########################

In [4]:
df

       neo pha       H  diameter  ...      sigma_tp     sigma_per  class      rms
0        N   N   3.400   939.400  ...  3.782900e-08  9.415900e-09    MBA  0.43301
1        N   N   4.200   545.000  ...  4.078700e-05  3.680700e-06    MBA  0.35936
2        N   N   5.330   246.596  ...  3.528800e-05  3.107200e-06    MBA  0.33848
3        N   N   3.000   525.400  ...  4.103700e-06  1.274900e-06    MBA  0.39980
4        N   N   6.900   106.699  ...  3.474300e-05  3.490500e-06    MBA  0.52191
...     ..  ..     ...       ...  ...           ...           ...    ...      ...
958519   N   N  17.135       NaN  ...  1.309700e+02  7.264900e+02    MBA  0.23839
958520   N   N  18.500       NaN  ...  4.690200e-04  1.578500e-05    MBA  0.53633
958521   Y   Y  20.400       NaN  ...  2.830600e-04  9.127500e-05    APO  0.51556
958522   N   N  18.071       NaN  ...  3.898400e+01  5.035500e+02    MBA  0.25641
958523   N   N  18.060       NaN  ...  5.523600e+00  1.064800e+02    MBA  0.26980

[958524 rows x 37 columns]

In [22]:
df=df.dropna()

In [23]:
df.shape

(131142, 37)

In [24]:
df['pha']

0         N
1         N
2         N
3         N
4         N
         ..
891599    N
891841    N
894103    N
901055    N
909489    N
Name: pha, Length: 131142, dtype: object

In [25]:
df['pha'].unique()

array(['N', 'Y'], dtype=object)

In [26]:
df['pha'].value_counts()

N    130961
Y       181
Name: pha, dtype: int64

In [27]:
df['class'].unique()

array(['MBA', 'OMB', 'MCA', 'AMO', 'IMB', 'TJN', 'APO', 'ATE', 'CEN',
       'AST', 'TNO'], dtype=object)

In [28]:
df['pha']=df['pha'].map({'Y':1,'N':0})
df=pd.get_dummies(df)
df

        pha      H  diameter  ...  class_OMB  class_TJN  class_TNO
0         0   3.40   939.400  ...          0          0          0
1         0   4.20   545.000  ...          0          0          0
2         0   5.33   246.596  ...          0          0          0
3         0   3.00   525.400  ...          0          0          0
4         0   6.90   106.699  ...          0          0          0
...     ...    ...       ...  ...        ...        ...        ...
891599    0  16.20     3.793  ...          0          0          0
891841    0  17.40     2.696  ...          0          0          0
894103    0  17.20     3.271  ...          0          0          0
901055    0  16.00     3.009  ...          0          0          0
909489    0  18.30     1.600  ...          0          0          0

[131142 rows x 48 columns]

In [29]:
X=df.drop('pha',axis=1)
y=df['pha']

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3)

логистическая регрессия:

```
# Выбран кодовый формат
```

In [19]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(model.score(X_test, y_test))

0.9992883104999619

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

SVM:

In [21]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.svm import SVC
model=SVC()
cvs0 = cross_val_score(estimator=model, X=X, y=y, cv=6, scoring='accuracy')
print(cvs0.mean())

0.998619816687255

KNN:

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
knn = KNeighborsClassifier(5)
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
confusion_matrix(y_test,y_pred)

print("Accuracy:", accuracy_score(y_test,y_pred))

кнн работает довольно медленно с большими объёмами данных, как в нашем случае ![2021-09-15_18-19-35.png]()

я остановил выполнение кнн, т к он слишком долго выполнялся

Дерево решений:

In [16]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score


tree = DecisionTreeClassifier(criterion='gini', max_depth=4, random_state=1)

tree.fit(X_train, y_train)
y_pred_tree = tree.predict(X_test)

print("Accuracy:", accuracy_score(y_test,y_pred_tree))

Accuracy: 0.9999491650357115

Самодельная нейронка:

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
import numpy

model = Sequential()
model.add(Dense(47, input_dim=47, activation='relu'))

model.add(Dense(25, activation='relu'))
model.add(Dense(15, activation='relu'))
model.add(Dense(12, activation='relu'))
model.add(Dense(10, activation='relu'))

model.add(Dense(1, activation='softmax'))

model.compile(loss="categorical_crossentropy", optimizer="adam", metrics=['accuracy', 'Recall'])
model.fit(X, y, epochs = 15)

ВЫВОД:
Лучше всего в данном случае работают логистическая регрессия, метод опорных векторов и дерево, они все работают быстро и возвращают высокую точность(более 99%), кнн в данном случае работает очень очень очень медленно, так что я её не дождался, самодельная нейронка работает очень плохо и тоже медленно.