типы данных: float, int, str, bool, кортежи,списки, словари, датафрейм

In [ ]:
# создать функцию сложения трёх чисел и вернуть
def sum(a,b,c):
 return (a+b+c)

print(sum(1,2,3))

Обучение с учителем - данные с ответами

Обучение без учителя - данные без ответов

Задачи классификации - делим множество объектов на группы

Задачи кластеризации - группировка данных по признакам

Задачи регрессии - определение конкретного значения

для регрессии используется метрика MSE

для классификации используется метрика recall

accuracy - доля правильных ответов относительно всех

Нейронная сеть  - это математическая модель

In [4]:
import pandas as pd
import numpy as np

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
df = pd.read_csv("drive/My Drive/dataset.csv")
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

              id    spkid          full_name  ...     sigma_per class      rms
0       a0000001  2000001            1 Ceres  ...  9.415900e-09   MBA  0.43301
1       a0000002  2000002           2 Pallas  ...  3.680700e-06   MBA  0.35936
2       a0000003  2000003             3 Juno  ...  3.107200e-06   MBA  0.33848
3       a0000004  2000004            4 Vesta  ...  1.274900e-06   MBA  0.39980
4       a0000005  2000005          5 Astraea  ...  3.490500e-06   MBA  0.52191
...          ...      ...                ...  ...           ...   ...      ...
958519  bPLS6013  3246801         (6013 P-L)  ...  7.264900e+02   MBA  0.23839
958520  bPLS6331  3246834         (6331 P-L)  ...  1.578500e-05   MBA  0.53633
958521  bPLS6344  3013075         (6344 P-L)  ...  9.127500e-05   APO  0.51556
958522  bT2S2060  3246457         (2060 T-2)  ...  5.035500e+02   MBA  0.25641
958523  bT3S2678  3246553         (2678 T-3)  ...  1.064800e+02   MBA  0.26980

[958524 rows x 45 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 45 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              958524 non-null  object
 1   spkid           958524 non-null  int64
 2   full_name       958524 non-null  object
 3   pdes            958524 non-null  object
 4   name            22064 non-null   object
 5   prefix          18 non-null      object
 6   neo             958520 non-null  object
 7   pha             938603 non-null  object
 8   H               952261 non-null  float64
 9   diameter        136209 non-null  float64
 10  albedo          135103 non-null  float64
 11  diameter_sigma  136081 non-null  float64
 12  orbit_id        958524 non-null  object
 13  epoch           958524 non-null  float64
 14  epoch_mjd       958524 non-null  int64
 15  epoch_cal       958524 non-null  float64
 16  equinox         958524 non-null  object
 17  e               958524 non-null  float64
 18  a               958524 non-null  float64
 19  q               958524 non-null  float64
 20  i               958524 non-null  float64
 21  om              958524 non-null  float64
 22  w               958524 non-null  float64
 23  ma              958523 non-null  float64
 24  ad              958520 non-null  float64
 25  n               958524 non-null  float64
 26  tp              958524 non-null  float64
 27  tp_cal          958524 non-null  float64
 28  per             958520 non-null  float64
 29  per_y           958523 non-null  float64
 30  moid            938603 non-null  float64
 31  moid_ld         958397 non-null  float64
 32  sigma_e         938602 non-null  float64
 33  sigma_a         938602 non-null  float64
 34  sigma_q         938602 non-null  float64
 35  sigma_i         938602 non-null  float64
 36  sigma_om        938602 non-null  float64
 37  sigma_w         938602 non-null  float64
 38  sigma_ma        938602 non-null  float64
 39  sigma_ad        938598 non-null  float64
 40  sigma_n         938602 non-null  float64
 41  sigma_tp        938602 non-null  float64
 42  sigma_per       938598 non-null  float64
 43  class           958524 non-null  object
 44  rms             958522 non-null  float64
dtypes: float64(33), int64(2), object(10)
memory usage: 329.1+ MB

In [7]:
import matplotlib.pyplot as plt
import seaborn as sns
df.isnull().sum()

id                     0
spkid                  0
full_name              0
pdes                   0
name              936460
prefix            958506
neo                    4
pha                19921
H                   6263
diameter          822315
albedo            823421
diameter_sigma    822443
orbit_id               0
epoch                  0
epoch_mjd              0
epoch_cal              0
equinox                0
e                      0
a                      0
q                      0
i                      0
om                     0
w                      0
ma                     1
ad                     4
n                      0
tp                     0
tp_cal                 0
per                    4
per_y                  1
moid               19921
moid_ld              127
sigma_e            19922
sigma_a            19922
sigma_q            19922
sigma_i            19922
sigma_om           19922
sigma_w            19922
sigma_ma           19922
sigma_ad           19926
sigma_n            19922
sigma_tp           19922
sigma_per          19926
class                  0
rms                    2
dtype: int64

In [8]:
df = df.drop(['name', 'prefix'], axis = 1)
df =df.drop( ['id', 'spkid', 'full_name', 'equinox', 'orbit_id', 'pdes'], axis = 1)
df

       neo pha       H  diameter  ...      sigma_tp     sigma_per  class      rms
0        N   N   3.400   939.400  ...  3.782900e-08  9.415900e-09    MBA  0.43301
1        N   N   4.200   545.000  ...  4.078700e-05  3.680700e-06    MBA  0.35936
2        N   N   5.330   246.596  ...  3.528800e-05  3.107200e-06    MBA  0.33848
3        N   N   3.000   525.400  ...  4.103700e-06  1.274900e-06    MBA  0.39980
4        N   N   6.900   106.699  ...  3.474300e-05  3.490500e-06    MBA  0.52191
...     ..  ..     ...       ...  ...           ...           ...    ...      ...
958519   N   N  17.135       NaN  ...  1.309700e+02  7.264900e+02    MBA  0.23839
958520   N   N  18.500       NaN  ...  4.690200e-04  1.578500e-05    MBA  0.53633
958521   Y   Y  20.400       NaN  ...  2.830600e-04  9.127500e-05    APO  0.51556
958522   N   N  18.071       NaN  ...  3.898400e+01  5.035500e+02    MBA  0.25641
958523   N   N  18.060       NaN  ...  5.523600e+00  1.064800e+02    MBA  0.26980

[958524 rows x 37 columns]

In [9]:
df=df.dropna()

In [10]:
df.shape

(131142, 37)

In [11]:
df['pha']

0         N
1         N
2         N
3         N
4         N
         ..
891599    N
891841    N
894103    N
901055    N
909489    N
Name: pha, Length: 131142, dtype: object

In [12]:
df['pha'].unique()

array(['N', 'Y'], dtype=object)

In [13]:
df['pha'].value_counts()
#дисбаланс классов

N    130961
Y       181
Name: pha, dtype: int64

In [14]:
df['class'].unique()

array(['MBA', 'OMB', 'MCA', 'AMO', 'IMB', 'TJN', 'APO', 'ATE', 'CEN',
       'AST', 'TNO'], dtype=object)

In [15]:
df['pha'] = df['pha'].map({'Y':1, 'N':0})
df =pd.get_dummies(df)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        pha      H  diameter  ...  class_OMB  class_TJN  class_TNO
0         0   3.40   939.400  ...          0          0          0
1         0   4.20   545.000  ...          0          0          0
2         0   5.33   246.596  ...          0          0          0
3         0   3.00   525.400  ...          0          0          0
4         0   6.90   106.699  ...          0          0          0
...     ...    ...       ...  ...        ...        ...        ...
891599    0  16.20     3.793  ...          0          0          0
891841    0  17.40     2.696  ...          0          0          0
894103    0  17.20     3.271  ...          0          0          0
901055    0  16.00     3.009  ...          0          0          0
909489    0  18.30     1.600  ...          0          0          0

[131142 rows x 48 columns]

In [16]:
X =df.drop('pha', axis = 1)
y = df['pha']

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import  StandardScaler
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.3, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [21]:
  #логистическая регрессия
  model = LogisticRegression()
  model.fit(X_train, y_train)
  print(model.score(X_test, y_test))

0.9992628930178177

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [25]:
 #ближайшие соседи
 model = KNeighborsClassifier()
 model.fit(X_train,y_train)
 print(model.score(X_test, y_test))

0.9982461937320489

In [23]:
#дерево
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.9999491650357115

In [24]:
  #метод опорных векторов
model = SVC()
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.9985257860356354

In [28]:
pip install catboost

Collecting catboost
  Downloading catboost-0.26.1-cp37-none-manylinux1_x86_64.whl (67.4 MB)
     |████████████████████████████████| 67.4 MB 25 kB/s
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.26.1

In [30]:
from catboost import CatBoostRegressor
model_cat = CatBoostRegressor(iterations=1000, learning_rate=0.05, depth=5, random_seed=69);
model_cat.fit(X_train, y_train,
                              eval_set=(X_test, y_test),
                              verbose_eval=300,
                              early_stopping_rounds=500,
                              use_best_model=True,
                              plot=False)
print(model.score(X_test, y_test))

0:	learn: 0.0356400	test: 0.0375284	best: 0.0375284 (0)	total: 23.1ms	remaining: 23.1s
300:	learn: 0.0125146	test: 0.0270850	best: 0.0268847 (193)	total: 6.77s	remaining: 15.7s
600:	learn: 0.0079341	test: 0.0273813	best: 0.0268847 (193)	total: 13.1s	remaining: 8.69s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.02688466439
bestIteration = 193

Shrink model to first 194 iterations.
0.9982461937320489

Все модели дали примерно одинаковые оцеки, все хорошие. НО CatBoost считал 14 минут и метод ближайших соседей считал 11 минут, поэтому они мне не понравились. Если ещё чуть-чуть подождать, то можно успеть состарится.