In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
**Машинное обучение** - это 
 обширный подраздел искусственного интеллекта, изучающий методы построения алгоритмов, способных обучаться.
**Виды машинного обучения:**
1. Обучение без учителя - это один из способов машинного обучения, при котором испытуемая система спонтанно обучается выполнять поставленную задачу без вмешательства со стороны экспериментатора.
2. Обучение с учителем - это обучение предполагает наличие полного набора размеченных данных для тренировки модели на всех этапах ее построения.

**Обучение с учителем:**
- Задачи регрессии   - это когда по заданному набору признаков необходимо спрогнозировать некую целевую переменную.
- Задачи классификации - это задача разделения множества наблюдений (объектов) на группы, называемые классами, на основе анализа их формального описания

**Обучение без учителя:**
- Кластеризация - это то еще один алгоритм обучения без присмотра, который используется для группировки непомеченных точек данных, имеющих сходные характеристики.

In [ ]:
Методы оценки моделей:
MSE - MSE расшифровывается как «Mean Squared Error» и переводится как «Средняя квадратическая ошибка». 
Суть метода заключается по сути в том, чтобы минимизировать сумму квадратов отклонений фактических значений
 от расчётных (SSE - «Sum of Squared Errors»). Если полученную сумму разделить на число наблюдений, то получится та самая MSE. (для регрессии)
 R-squered -коэффициент детерминации. Характеризует степень сходства исходных данных и предсказанных. В отличии от MSE не зависит от единиц измерения данных, поэтому поддается сравнению.
 Accuracy - деление всхе правильных ответов на все вообще ответы
 Recall - В этой метрике мы рассматриваем только P-случаи: когда в реальных наблюдениях было "да". И считаем, какую долю из этих случаев модель предсказала правильно.(для классификации)
 Precision - Какая часть наших предсказаний "да" действительно сбылась

In [ ]:
Что такое нейронные сети и как они устроены?
направление, цель которого смоделировать аналитические механизмы. Задачи, которые решает типичная нейросеть
 – классификация, предсказание и распознавание. Нейросети способны самостоятельно обучаться и развиваться, строя свой опыт на совершенных ошибках.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Анализ Данных 2021-2022/1ое заняте/dataset.csv') #прчитала файл

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.head() #вывела начало таблицы

         id    spkid       full_name  ...     sigma_per class      rms
0  a0000001  2000001         1 Ceres  ...  9.415900e-09   MBA  0.43301
1  a0000002  2000002        2 Pallas  ...  3.680700e-06   MBA  0.35936
2  a0000003  2000003          3 Juno  ...  3.107200e-06   MBA  0.33848
3  a0000004  2000004         4 Vesta  ...  1.274900e-06   MBA  0.39980
4  a0000005  2000005       5 Astraea  ...  3.490500e-06   MBA  0.52191

[5 rows x 45 columns]

In [ ]:
df = df.drop(['name', 'prefix'], axis=1) #удалила ненужные колонки
df = df.drop(['id', 'spkid', 'full_name', 'equinox', 'orbit_id', 'pdes'], axis=1)
df.isnull().sum() #кол-во NaN объектов в каждой колонке

neo                    4
pha                19921
H                   6263
diameter          822315
albedo            823421
diameter_sigma    822443
epoch                  0
epoch_mjd              0
epoch_cal              0
e                      0
a                      0
q                      0
i                      0
om                     0
w                      0
ma                     1
ad                     4
n                      0
tp                     0
tp_cal                 0
per                    4
per_y                  1
moid               19921
moid_ld              127
sigma_e            19922
sigma_a            19922
sigma_q            19922
sigma_i            19922
sigma_om           19922
sigma_w            19922
sigma_ma           19922
sigma_ad           19926
sigma_n            19922
sigma_tp           19922
sigma_per          19926
class                  0
rms                    2
dtype: int64

In [ ]:
df = df.dropna() #удаляет все строки, где есть значение NaN

In [ ]:
df[df['pha'] == 'Y'].isnull().sum() # в каждй строчке где в pha значение Y показывает кол-во NaN

neo               0
pha               0
H                 0
diameter          0
albedo            0
diameter_sigma    0
epoch             0
epoch_mjd         0
epoch_cal         0
e                 0
a                 0
q                 0
i                 0
om                0
w                 0
ma                0
ad                0
n                 0
tp                0
tp_cal            0
per               0
per_y             0
moid              0
moid_ld           0
sigma_e           0
sigma_a           0
sigma_q           0
sigma_i           0
sigma_om          0
sigma_w           0
sigma_ma          0
sigma_ad          0
sigma_n           0
sigma_tp          0
sigma_per         0
class             0
rms               0
dtype: int64

In [ ]:
df.shape #кол-во строчек столбцов

(131142, 37)

In [ ]:
df['pha']

0         N
1         N
2         N
3         N
4         N
         ..
891599    N
891841    N
894103    N
901055    N
909489    N
Name: pha, Length: 131142, dtype: object

In [ ]:
df['pha'].unique() #кол-во классов

array(['N', 'Y'], dtype=object)

In [ ]:
df['pha'].value_counts()

N    130961
Y       181
Name: pha, dtype: int64

In [ ]:
df['pha'] = df['pha'].map({'Y': 1,'N': 0}) #rename Y на 1 и N на 0
df = pd.get_dummies(df)
df

        pha      H  diameter  ...  class_OMB  class_TJN  class_TNO
0         0   3.40   939.400  ...          0          0          0
1         0   4.20   545.000  ...          0          0          0
2         0   5.33   246.596  ...          0          0          0
3         0   3.00   525.400  ...          0          0          0
4         0   6.90   106.699  ...          0          0          0
...     ...    ...       ...  ...        ...        ...        ...
891599    0  16.20     3.793  ...          0          0          0
891841    0  17.40     2.696  ...          0          0          0
894103    0  17.20     3.271  ...          0          0          0
901055    0  16.00     3.009  ...          0          0          0
909489    0  18.30     1.600  ...          0          0          0

[131142 rows x 48 columns]

In [ ]:
X = df.drop('pha', axis=1) #таблица без pha
y = df['pha'] #cстолбец pha

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42) #разбиваем на тестовые и обучение данные + перемешиваем данные traintrstsplit

# cross_val_score
scaler = StandardScaler() #стандартизирует, удаляет минимизирует сильновыделяющиеся значения
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC #метод опорных векторов
from sklearn.ensemble import RandomForestClassifier



model = [DecisionTreeClassifier(), LogisticRegression(),  RandomForestClassifier()]
for i in range(0, 3, 1):
  model[i].fit(X_train, y_train)
  model[i].score(X_test, y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)