In [ ]:
Типы данных: float, int, str, bool
кортежи, списки, словари
датафрэйм

In [2]:
#сложение + вернуть:
def sum(a, b, c):
  return (a+b+c)
sum(1, 2, 3)

6

In [ ]:
с учителем:
данные с ответами
без учителя:
данные без ответов

In [3]:
задачи классификации:
1)множество объектов делим на группы
2)группировка по признакам

SyntaxError: ignored

In [4]:
задачи регрессии:
узнать точные значения

SyntaxError: ignored

In [ ]:
метрика MSE - для регрессии
метрика recall - классификация
accuracy - точность (доля правильных ответов)

In [ ]:
нейронные сети это - самообучающаяся модель.
С точки зрения машинного обучения, нейронная сеть представляет собой частный 
случай методов распознавания образов, дискриминантного анализа, 
методов кластеризации и т. п.

In [107]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
from sklearn import datasets
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
import scipy.cluster.hierarchy as sch
from sklearn.cluster import AgglomerativeClustering
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.svm import SVC
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

df = pd.read_csv("D:\dataset.csv")

In [83]:
df = pd.read_csv("dataset.csv")
df

             id    spkid  ... class      rms
0      a0000001  2000001  ...   MBA  0.43301
1      a0000002  2000002  ...   MBA  0.35936
2      a0000003  2000003  ...   MBA  0.33848
3      a0000004  2000004  ...   MBA  0.39980
4      a0000005  2000005  ...   MBA  0.52191
...         ...      ...  ...   ...      ...
16520  a0016521  2016521  ...   MBA  0.53660
16521  a0016522  2016522  ...   MBA  0.45545
16522  a0016523  2016523  ...   MBA  0.47623
16523  a0016524  2016524  ...   MBA  0.51626
16524  a0016525  2016525  ...   NaN      NaN

[16525 rows x 45 columns]

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16524 entries, 0 to 16523
Data columns (total 46 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pdes       16524 non-null  int64
 1   pha        16524 non-null  int64
 2   H          16524 non-null  float64
 3   epoch      16524 non-null  float64
 4   epoch_mjd  16524 non-null  int64
 5   epoch_cal  16524 non-null  float64
 6   e          16524 non-null  float64
 7   a          16524 non-null  float64
 8   q          16524 non-null  float64
 9   i          16524 non-null  float64
 10  om         16524 non-null  float64
 11  w          16524 non-null  float64
 12  ma         16524 non-null  float64
 13  ad         16524 non-null  float64
 14  n          16524 non-null  float64
 15  tp         16524 non-null  float64
 16  tp_cal     16524 non-null  float64
 17  per        16524 non-null  float64
 18  per_y      16524 non-null  float64
 19  moid       16524 non-null  float64
 20  moid_ld    16524 non-null  float64
 21  sigma_e    16524 non-null  float64
 22  sigma_a    16524 non-null  float64
 23  sigma_q    16524 non-null  float64
 24  sigma_i    16524 non-null  float64
 25  sigma_om   16524 non-null  float64
 26  sigma_w    16524 non-null  float64
 27  sigma_ma   16524 non-null  float64
 28  sigma_ad   16524 non-null  float64
 29  sigma_n    16524 non-null  float64
 30  sigma_tp   16524 non-null  float64
 31  sigma_per  16524 non-null  float64
 32  rms        16524 non-null  float64
 33  neo_N      16524 non-null  uint8
 34  neo_Y      16524 non-null  uint8
 35  class_AMO  16524 non-null  uint8
 36  class_APO  16524 non-null  uint8
 37  class_AST  16524 non-null  uint8
 38  class_ATE  16524 non-null  uint8
 39  class_CEN  16524 non-null  uint8
 40  class_IMB  16524 non-null  uint8
 41  class_MBA  16524 non-null  uint8
 42  class_MCA  16524 non-null  uint8
 43  class_OMB  16524 non-null  uint8
 44  class_TJN  16524 non-null  uint8
 45  class_TNO  16524 non-null  uint8
dtypes: float64(30), int64(3), uint8(13)
memory usage: 4.5 MB

In [85]:
df = df.drop(['prefix'], axis=1)
df = df.drop(['diameter'], axis=1)
df = df.drop(['albedo'], axis=1)
df = df.drop(['diameter_sigma'], axis=1)

df = df.drop(['id'], axis=1)
df = df.drop(['spkid'], axis=1)
df = df.drop(['full_name'], axis=1)
df = df.drop(['name'], axis=1)
df = df.drop(['equinox'], axis=1)
df = df.drop(['orbit_id'], axis=1)

In [86]:
df = df.dropna()

In [87]:
df.shape

(16524, 35)

In [88]:
df['pha'] #целевая переменная

0        N
1        N
2        N
3        N
4        N
        ..
16519    N
16520    N
16521    N
16522    N
16523    N
Name: pha, Length: 16524, dtype: object

In [89]:
df['pha'].unique()
#сколько классов

array(['N', 'Y'], dtype=object)

In [90]:
df['pha'].value_counts()
#дисбаланс классов

N    16477
Y       47
Name: pha, dtype: int64

In [91]:
df['pha']=df['pha'].map({'Y' : 1, 'N' : 0})
df=pd.get_dummies(df)
df

        pdes  pha      H      epoch  ...  class_MCA  class_OMB  class_TJN  class_TNO
0          1    0   3.40  2458600.5  ...          0          0          0          0
1          2    0   4.20  2459000.5  ...          0          0          0          0
2          3    0   5.33  2459000.5  ...          0          0          0          0
3          4    0   3.00  2458600.5  ...          0          0          0          0
4          5    0   6.90  2459000.5  ...          0          0          0          0
...      ...  ...    ...        ...  ...        ...        ...        ...        ...
16519  16520    0  14.20  2459000.5  ...          0          0          0          0
16520  16521    0  13.90  2459000.5  ...          0          0          0          0
16521  16522    0  13.00  2459000.5  ...          0          0          0          0
16522  16523    0  13.40  2459000.5  ...          0          0          0          0
16523  16524    0  14.80  2459000.5  ...          0          0          0          0

[16524 rows x 46 columns]

In [92]:
X = df.drop('pha', axis=1)
y = df['pha']

In [93]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)	#Делим данные на тстовые и тренировочные
scaller = StandardScaler()
X_train = scaller.fit_transform(X_train)
X_test = scaller.transform(X_test)

In [109]:
models = [1,2,3,4,5]
l = LogisticRegression()
l.fit(X_train, y_train)
models[0]=l.score(X_test, y_test)

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
models[1]=knn.score(X_test, y_test)

sv = SVC()
sv.fit(X_train, y_train)
models[2]=sv.score(X_test, y_test)

rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)
models[3]=rfc.score(X_test, y_test)

tree = DecisionTreeClassifier()
tree.fit(X_train, y_train)
models[4]=tree.score(X_test, y_test)
for model in models:
  print(model)
#дерево имеет наилучшую точность и показало наилучший результат.

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.9971762807583703
0.9975796692214602
0.9975796692214602
0.9997983057684551
1.0