In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")
import pandas as pd
train = pd.read_csv("/content/gdrive/MyDrive/ii/train_clever.csv")
test=pd.read_csv("/content/gdrive/MyDrive/ii/test_clever.csv")
test

Mounted at /content/gdrive

         ID                                           Question
0     11083              В каком году основан Санкт-Петербург?
1     18349  Какой город Золотого кольца России-город худож...
2     11374  Каким цветом написана надпись магазина «пятеро...
3      9699                     Сколько весит пирамида Хеопса?
4     17748  В какой стране киберспорт впервые признали вид...
...     ...                                                ...
9995  28782        В каком году началась Первая Мировая война?
9996  13015                       Самое популярное женское имя
9997  26647  Сколько на данный момент снято официальных фил...
9998   9578  У какого айфона появился впервые появился Touc...
9999  23190  Что НЕ является признаком равенства треугольни...

[10000 rows x 2 columns]

In [ ]:
# Посмотрим размерность данных
print(train.shape)
print(test.shape)

(20000, 3)
(10000, 2)

In [ ]:
train.head()

      ID  Answer                                           Question
0  16019       0       Крупнейшим производителем кукурузы является:
1   5121       0               Кто первый в РОССИЮ завёз картошку ?
2  17169       0  Кто из мореплавателей сделал первое кругосветн...
3  15480       0      Как зовут героя серии романов Бариса Акунина?
4   3312       0  Какая сборная выйграла чемпионат мира по футбо...

In [ ]:
train.isna().sum()

ID          0
Answer      0
Question    0
dtype: int64

In [ ]:
train['Question']

0             Крупнейшим производителем кукурузы является:
1                     Кто первый в РОССИЮ завёз картошку ?
2        Кто из мореплавателей сделал первое кругосветн...
3            Как зовут героя серии романов Бариса Акунина?
4        Какая сборная выйграла чемпионат мира по футбо...
                               ...
19995             В каком году изобрели компьютерную мышь?
19996    Каким прозвищем удостоен известный американски...
19997       Дата начала Второй Великой Отечественной войны
19998      В какой Республике находиться город Стерлитамак
19999    Какого газа больше всего в составе атмосферы З...
Name: Question, Length: 20000, dtype: object

In [ ]:
train['Question'] = train['Question'].str.lower() 
test['Question'] = test['Question'].str.lower()

In [ ]:
train['Question']

0             крупнейшим производителем кукурузы является:
1                     кто первый в россию завёз картошку ?
2        кто из мореплавателей сделал первое кругосветн...
3            как зовут героя серии романов бариса акунина?
4        какая сборная выйграла чемпионат мира по футбо...
                               ...
19995             в каком году изобрели компьютерную мышь?
19996    каким прозвищем удостоен известный американски...
19997       дата начала второй великой отечественной войны
19998      в какой республике находиться город стерлитамак
19999    какого газа больше всего в составе атмосферы з...
Name: Question, Length: 20000, dtype: object

In [ ]:
punctuation_signs = list(":!.,;()*-_")

for punct_sign in punctuation_signs:
    train['Question'] = train['Question'].str.replace(punct_sign, '')

for punct_sign in punctuation_signs:
    test['Question'] = test['Question'].str.replace(punct_sign, '')

In [ ]:
train['Question'] = train['Question'].str.replace('?', ' ?')
test['Question'] = test['Question'].str.replace('?', ' ?')

In [ ]:
test

         ID                                           Question
0     11083              в каком году основан санктпетербург ?
1     18349  какой город золотого кольца россиигород художн...
2     11374  каким цветом написана надпись магазина «пятеро...
3      9699                    сколько весит пирамида хеопса ?
4     17748  в какой стране киберспорт впервые признали вид...
...     ...                                                ...
9995  28782       в каком году началась первая мировая война ?
9996  13015                       самое популярное женское имя
9997  26647  сколько на данный момент снято официальных фил...
9998   9578  у какого айфона появился впервые появился touc...
9999  23190  что не является признаком равенства треугольни...

[10000 rows x 2 columns]

In [ ]:
train

          ID  Answer                                           Question
0      16019       0        крупнейшим производителем кукурузы является
1       5121       0              кто первый в россию завёз картошку  ?
2      17169       0  кто из мореплавателей сделал первое кругосветн...
3      15480       0     как зовут героя серии романов бариса акунина ?
4       3312       0  какая сборная выйграла чемпионат мира по футбо...
...      ...     ...                                                ...
19995  14210       0          в каком году изобрели компьютерную мышь ?
19996  17590       0  каким прозвищем удостоен известный американски...
19997  20342       0     дата начала второй великой отечественной войны
19998   9183       0    в какой республике находиться город стерлитамак
19999   4713       1  какого газа больше всего в составе атмосферы з...

[20000 rows x 3 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer()
list_corpus = train["Question"].tolist()
list_labels = train["Answer"].tolist()
test_corpus = test["Question"].tolist()

X_train, X_test, y_train, y_test = train_test_split(list_corpus, list_labels, test_size=0.2, 
                                                                                random_state=40)
X_train_counts = count_vectorizer.fit_transform(X_train)
X_test_counts = count_vectorizer.transform(X_test)
test_counts = count_vectorizer.transform(test_corpus)

In [ ]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=40)
clf.fit(X_train_counts, y_train)

y_predicted_counts = clf.predict(X_test_counts)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, roc_auc_score

def get_metrics(y_test, y_predicted):  
    # true positives / (true positives+false positives)
    precision = precision_score(y_test, y_predicted, pos_label=None,
                                    average='weighted')             
    # true positives / (true positives + false negatives)
    recall = recall_score(y_test, y_predicted, pos_label=None,
                              average='weighted')
    
    # harmonic mean of precision and recall
    f1 = f1_score(y_test, y_predicted, pos_label=None, average='weighted')

    roc_auc = roc_auc_score(y_test, y_predicted_counts)
    
    # true positives + true negatives/ total
    accuracy = accuracy_score(y_test, y_predicted)

    return accuracy, precision, recall, f1, roc_auc

accuracy, precision, recall, f1, roc_auc = get_metrics(y_test, y_predicted_counts)
print("accuracy = %.3f, precision = %.3f, recall = %.3f, f1 = %.3f, roc_auc = %.3f" % (accuracy, precision, recall, f1, roc_auc))

accuracy = 0.890, precision = 0.814, recall = 0.890, f1 = 0.846, roc_auc = 0.499

In [ ]:
y_predicted_test = clf.predict(test_counts)
y_test_pred = pd.DataFrame(y_predicted_test, columns=['Answer'])
y_test_pred.reset_index(inplace=True)

y_test_pred

      index  Answer
0         0       0
1         1       0
2         2       0
3         3       0
4         4       0
...     ...     ...
9995   9995       0
9996   9996       0
9997   9997       0
9998   9998       0
9999   9999       0

[10000 rows x 2 columns]

In [ ]:
from google.colab import files
y_test_pred.to_csv('reshenie.csv', index=False)
files.download("reshenie.csv")