In [1]:
from google.colab import files
uploaded = files.upload()

Saving train_clever.csv to train_clever.csv

In [8]:
import pandas as pd
train = pd.read_csv('train_clever.csv')
train

          ID  Answer                                           Question
0      16019       0       Крупнейшим производителем кукурузы является:
1       5121       0               Кто первый в РОССИЮ завёз картошку ?
2      17169       0  Кто из мореплавателей сделал первое кругосветн...
3      15480       0      Как зовут героя серии романов Бариса Акунина?
4       3312       0  Какая сборная выйграла чемпионат мира по футбо...
...      ...     ...                                                ...
19995  14210       0           В каком году изобрели компьютерную мышь?
19996  17590       0  Каким прозвищем удостоен известный американски...
19997  20342       0     Дата начала Второй Великой Отечественной войны
19998   9183       0    В какой Республике находиться город Стерлитамак
19999   4713       1  Какого газа больше всего в составе атмосферы З...

[20000 rows x 3 columns]

In [9]:
train = pd.concat([train[train['Answer'] == 0], train[train['Answer'] == 1]], ignore_index=True)
train

          ID  Answer                                           Question
0      16019       0       Крупнейшим производителем кукурузы является:
1       5121       0               Кто первый в РОССИЮ завёз картошку ?
2      17169       0  Кто из мореплавателей сделал первое кругосветн...
3      15480       0      Как зовут героя серии романов Бариса Акунина?
4       3312       0  Какая сборная выйграла чемпионат мира по футбо...
...      ...     ...                                                ...
19995   9571       1  Кто сыграл Энди Дюфрейна в фильме «Побег из Шо...
19996    843       1                         Кого свергла Екатерина II?
19997  13282       1              Сколько игроков в футбольной команде?
19998  17513       1  Как называется бурятское блюдо, похожее на манты?
19999   4713       1  Какого газа больше всего в составе атмосферы З...

[20000 rows x 3 columns]

In [10]:
from google.colab import files
uploaded = files.upload()

Saving test_clever.csv to test_clever.csv

In [11]:

test = pd.read_csv('test_clever.csv')
test

         ID                                           Question
0     11083              В каком году основан Санкт-Петербург?
1     18349  Какой город Золотого кольца России-город худож...
2     11374  Каким цветом написана надпись магазина «пятеро...
3      9699                     Сколько весит пирамида Хеопса?
4     17748  В какой стране киберспорт впервые признали вид...
...     ...                                                ...
9995  28782        В каком году началась Первая Мировая война?
9996  13015                       Самое популярное женское имя
9997  26647  Сколько на данный момент снято официальных фил...
9998   9578  У какого айфона появился впервые появился Touc...
9999  23190  Что НЕ является признаком равенства треугольни...

[10000 rows x 2 columns]

In [22]:
q = []
a = []
for i in range(20000):
  p = '''!()-[]{};?@#$%:'"\,./^&;*«»_0123456789'''
  s = (train['Question'][i])
  new = ''
  for e in s:
    if e not in p:
      new += e.lower()  
  q.append(new)
  a.append(train['Answer'][i])

train_2 = pd.DataFrame({'Question': q, 'Answer': a})
train_2

                                                Question  Answer
0            крупнейшим производителем кукурузы является       0
1                    кто первый в россию завёз картошку        0
2      кто из мореплавателей сделал первое кругосветн...       0
3           как зовут героя серии романов бариса акунина       0
4      какая сборная выйграла чемпионат мира по футбо...       0
...                                                  ...     ...
19995  кто сыграл энди дюфрейна в фильме побег из шоу...       1
19996                          кого свергла екатерина ii       1
19997               сколько игроков в футбольной команде       1
19998    как называется бурятское блюдо похожее на манты       1
19999  какого газа больше всего в составе атмосферы з...       1

[20000 rows x 2 columns]

In [23]:
q = []
for i in range(10000):
  p = '''!()-[]{};?@#$%:'"\,./^&;*«»_0123456789'''
  s = (test['Question'][i])
  new = ''
  for e in s:
    if e not in p:
      new += e.lower() 
  q.append(new)
test_2 = pd.DataFrame({'Question': q})
test_2

                                               Question
0                   в каком году основан санктпетербург
1     какой город золотого кольца россиигород художн...
2      каким цветом написана надпись магазина пятерочка
3                         сколько весит пирамида хеопса
4     в какой стране киберспорт впервые признали вид...
...                                                 ...
9995         в каком году началась первая мировая война
9996                       самое популярное женское имя
9997  сколько на данный момент снято официальных фил...
9998  у какого айфона появился впервые появился touc...
9999  что не является признаком равенства треугольников

[10000 rows x 1 columns]

In [24]:
!pip install pymorphy2
import pymorphy2
morph = pymorphy2.MorphAnalyzer()

Collecting pymorphy2
  Downloading pymorphy2-0.9.1-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.3 MB/s
Requirement already satisfied: docopt>=0.6 in /usr/local/lib/python3.7/dist-packages (from pymorphy2) (0.6.2)
Collecting dawg-python>=0.7.1
  Downloading DAWG_Python-0.7.2-py2.py3-none-any.whl (11 kB)
Collecting pymorphy2-dicts-ru<3.0,>=2.4
  Downloading pymorphy2_dicts_ru-2.4.417127.4579844-py2.py3-none-any.whl (8.2 MB)
     |████████████████████████████████| 8.2 MB 11.1 MB/s
Installing collected packages: pymorphy2-dicts-ru, dawg-python, pymorphy2
Successfully installed dawg-python-0.7.2 pymorphy2-0.9.1 pymorphy2-dicts-ru-2.4.417127.4579844

In [26]:
lemmatized_text = []
for i in range(len(train_2)):
    lemmatized_words = []
    words = train_2.loc[i]['Question'].split(' ')
    for word in words:
        lemma = morph.parse(word)
        lemmatized_words.append(lemma[0].normal_form)
    text = " ".join(lemmatized_words)
    lemmatized_text.append(text)
train_2['Question'] = lemmatized_text

In [27]:
train_2

                                                Question  Answer
0                крупный производитель кукуруза являться       0
1                  кто первый в россия завезти картошка        0
2      кто из мореплаватель сделать первый кругосветн...       0
3               как звать герой серия роман барис акунин       0
4      какой сборная выйграло чемпионат мир по футбол...       0
...                                                  ...     ...
19995  кто сыграть энди дюфрейн в фильм побег из шоуш...       1
19996                         кто свергнуть екатерина ii       1
19997                 сколько игрок в футбольный команда       1
19998    как называться бурятский блюдо похожий на манта       1
19999    какой газ большой весь в состав атмосфера земля       1

[20000 rows x 2 columns]

In [28]:
lemmatized_text = []
for i in range(len(test_2)):
    lemmatized_words = []
    words = test_2.loc[i]['Question'].split(' ')
    for word in words:
        lemma = morph.parse(word)
        lemmatized_words.append(lemma[0].normal_form)
    text = " ".join(lemmatized_words)
    lemmatized_text.append(text)
test_2['Question'] = lemmatized_text

In [29]:
test_2

                                               Question
0                   в какой год основать санктпетербург
1       какой город золотой кольцо россиигород художник
2         какой цвет написать надпись магазин пятёрочка
3                        сколько весить пирамида хеопёс
4     в какой страна киберспорт впервые признать вид...
...                                                 ...
9995          в какой год начаться первый мировой война
9996                       самый популярный женский имя
9997  сколько на данный момент снятой официальный фи...
9998  у какой айфон появиться впервые появиться touc...
9999      что не являться признак равенство треугольник

[10000 rows x 1 columns]

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer()

In [31]:
from sklearn.linear_model import LogisticRegression

X_train, X_test, y_train, y_test = train_test_split(train_2['Question'], train_2['Answer'], test_size=0.2, random_state=42)

X_train_counts = count_vectorizer.fit_transform(X_train)
X_test_counts = count_vectorizer.transform(X_test)
test_counts = count_vectorizer.transform(test_2["Question"])


clf = LogisticRegression(random_state=42)
clf.fit(X_train_counts, y_train)

y_predicted_counts = clf.predict(X_test_counts)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [33]:
y_predicted_test = clf.predict(test_counts)
y_test_pred = pd.DataFrame(y_predicted_test, columns=['Answer'])
y_test_pred.reset_index(inplace=True)

y_test_pred

      index  Answer
0         0       0
1         1       0
2         2       0
3         3       0
4         4       0
...     ...     ...
9995   9995       0
9996   9996       0
9997   9997       0
9998   9998       0
9999   9999       0

[10000 rows x 2 columns]

In [ ]:
y

In [34]:
y_test_pred.to_csv('Petrov.csv', index=False)
files.download("Petrov.csv")