In [1]:
from google.colab import files
uploaded = files.upload()

Saving train_clever.csv to train_clever.csv
Saving test_clever.csv to test_clever.csv

In [2]:
import pandas as pd

train = pd.read_csv('train_clever.csv')
test = pd.read_csv('test_clever.csv')
test

         ID                                           Question
0     11083              В каком году основан Санкт-Петербург?
1     18349  Какой город Золотого кольца России-город худож...
2     11374  Каким цветом написана надпись магазина «пятеро...
3      9699                     Сколько весит пирамида Хеопса?
4     17748  В какой стране киберспорт впервые признали вид...
...     ...                                                ...
9995  28782        В каком году началась Первая Мировая война?
9996  13015                       Самое популярное женское имя
9997  26647  Сколько на данный момент снято официальных фил...
9998   9578  У какого айфона появился впервые появился Touc...
9999  23190  Что НЕ является признаком равенства треугольни...

[10000 rows x 2 columns]

In [3]:
train

          ID  Answer                                           Question
0      16019       0       Крупнейшим производителем кукурузы является:
1       5121       0               Кто первый в РОССИЮ завёз картошку ?
2      17169       0  Кто из мореплавателей сделал первое кругосветн...
3      15480       0      Как зовут героя серии романов Бариса Акунина?
4       3312       0  Какая сборная выйграла чемпионат мира по футбо...
...      ...     ...                                                ...
19995  14210       0           В каком году изобрели компьютерную мышь?
19996  17590       0  Каким прозвищем удостоен известный американски...
19997  20342       0     Дата начала Второй Великой Отечественной войны
19998   9183       0    В какой Республике находиться город Стерлитамак
19999   4713       1  Какого газа больше всего в составе атмосферы З...

[20000 rows x 3 columns]

In [ ]:
train = train.drop(["ID"], axis=1)
train

       Answer                                           Question
0           0       Крупнейшим производителем кукурузы является:
1           0               Кто первый в РОССИЮ завёз картошку ?
2           0  Кто из мореплавателей сделал первое кругосветн...
3           0      Как зовут героя серии романов Бариса Акунина?
4           0  Какая сборная выйграла чемпионат мира по футбо...
...       ...                                                ...
19995       0           В каком году изобрели компьютерную мышь?
19996       0  Каким прозвищем удостоен известный американски...
19997       0     Дата начала Второй Великой Отечественной войны
19998       0    В какой Республике находиться город Стерлитамак
19999       1  Какого газа больше всего в составе атмосферы З...

[20000 rows x 2 columns]

In [4]:
train = pd.concat([train[train['Answer'] == 0], train[train['Answer'] == 1]], ignore_index=True)
train

          ID  Answer                                           Question
0      16019       0       Крупнейшим производителем кукурузы является:
1       5121       0               Кто первый в РОССИЮ завёз картошку ?
2      17169       0  Кто из мореплавателей сделал первое кругосветн...
3      15480       0      Как зовут героя серии романов Бариса Акунина?
4       3312       0  Какая сборная выйграла чемпионат мира по футбо...
...      ...     ...                                                ...
19995   9571       1  Кто сыграл Энди Дюфрейна в фильме «Побег из Шо...
19996    843       1                         Кого свергла Екатерина II?
19997  13282       1              Сколько игроков в футбольной команде?
19998  17513       1  Как называется бурятское блюдо, похожее на манты?
19999   4713       1  Какого газа больше всего в составе атмосферы З...

[20000 rows x 3 columns]

In [5]:
test = test.drop(["ID"], axis=1)
test

                                               Question
0                 В каком году основан Санкт-Петербург?
1     Какой город Золотого кольца России-город худож...
2     Каким цветом написана надпись магазина «пятеро...
3                        Сколько весит пирамида Хеопса?
4     В какой стране киберспорт впервые признали вид...
...                                                 ...
9995        В каком году началась Первая Мировая война?
9996                       Самое популярное женское имя
9997  Сколько на данный момент снято официальных фил...
9998  У какого айфона появился впервые появился Touc...
9999  Что НЕ является признаком равенства треугольни...

[10000 rows x 1 columns]

In [ ]:
train.shape

(20000, 3)

In [ ]:
test.shape

(10000, 2)

In [6]:
train['Answer'].value_counts()

0    17885
1     2115
Name: Answer, dtype: int64

In [7]:
train['Question'] = train['Question'].str.lower() 
test['Question'] = test['Question'].str.lower()

In [8]:
train['Question'] = train['Question'].str.replace('\n', ' ')
train['Question'] = train['Question'].str.replace('    ', ' ')
train['Question'] = train['Question'].str.replace('\r', ' ')

for i in list('.,;;?!'):
    train['Question'] = train['Question'].str.replace(i, '')

In [9]:
test['Question'] = test['Question'].str.replace("\r", " ")
test['Question'] = test['Question'].str.replace("\n", " ")
test['Question'] = test['Question'].str.replace("    ", " ")

for i in list('.,;;?!'):
    test['Question'] = test['Question'].str.replace(i, '')

In [11]:
!pip install pymorphy2

Collecting pymorphy2
  Downloading pymorphy2-0.9.1-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.6 MB/s
Requirement already satisfied: docopt>=0.6 in /usr/local/lib/python3.7/dist-packages (from pymorphy2) (0.6.2)
Collecting pymorphy2-dicts-ru<3.0,>=2.4
  Downloading pymorphy2_dicts_ru-2.4.417127.4579844-py2.py3-none-any.whl (8.2 MB)
     |████████████████████████████████| 8.2 MB 14.4 MB/s
Collecting dawg-python>=0.7.1
  Downloading DAWG_Python-0.7.2-py2.py3-none-any.whl (11 kB)
Installing collected packages: pymorphy2-dicts-ru, dawg-python, pymorphy2
Successfully installed dawg-python-0.7.2 pymorphy2-0.9.1 pymorphy2-dicts-ru-2.4.417127.4579844

In [14]:
from pymorphy2 import MorphAnalyzer


morph = MorphAnalyzer()

lm_txt = []
for i in range(len(train)):
  lm_wd = []
  words = train.loc[i]['Question'].split(' ')
  for i in words:
      lm = morph.parse(i)
      lm_wd.append(lm[0].normal_form)
  text = ' '.join(lm_wd)
  lm_txt.append(text)

train['Question'] = lm_txt

In [15]:
lm_txt = []
for i in range(len(test)):
  lm_wd = []
  words = test.loc[i]['Question'].split(' ')
  for i in words:
      lm = morph.parse(i)
      lm_wd.append(lm[0].normal_form)
  text = ' '.join(lm_wd)
  lm_txt.append(text)

test['Question'] = lm_txt

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer()

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train['Question'], train['Answer'], test_size=0.2, random_state=42)

X_train_counts = count_vectorizer.fit_transform(X_train)
X_test_counts = count_vectorizer.transform(X_test)
test_counts = count_vectorizer.transform(test["Question"])


clf = LogisticRegression(random_state=42)
clf.fit(X_train_counts, y_train)

y_predicted_counts = clf.predict(X_test_counts)

y_predicted_test = clf.predict(test_counts)
y_test_pred = pd.DataFrame(y_predicted_test, columns=['Answer'])
y_test_pred.reset_index(inplace=True)

y_test_pred

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

      index  Answer
0         0       0
1         1       0
2         2       0
3         3       0
4         4       0
...     ...     ...
9995   9995       0
9996   9996       0
9997   9997       0
9998   9998       0
9999   9999       0

[10000 rows x 2 columns]

In [19]:
y_test_pred.to_csv('submition_test_Rasyuk.csv', index=False)
files.download("submition_test_Rasyuk.csv")