In [3]:
import pandas as pd

In [4]:
from google.colab import files
uploaded = files.upload()

Saving test_clever.csv to test_clever (3).csv
Saving train_clever.csv to train_clever (3).csv

In [99]:
train = pd.read_csv("train_clever.csv")
test = pd.read_csv("test_clever.csv")

In [100]:
train_0 = train[train['Answer'] == 0].loc[:6345]
train_1 = train[train['Answer'] == 1]
train_new = pd.concat([train_0, train_1], ignore_index=True)

train = train_new

In [101]:
train.head()

      ID  Answer                                           Question
0  16019       0       Крупнейшим производителем кукурузы является:
1   5121       0               Кто первый в РОССИЮ завёз картошку ?
2  17169       0  Кто из мореплавателей сделал первое кругосветн...
3  15480       0      Как зовут героя серии романов Бариса Акунина?
4   3312       0  Какая сборная выйграла чемпионат мира по футбо...

In [102]:
print(train.info())
print('-------------------------------------------------------')
print(train.isna().sum())
print('-------------------------------------------------------')
print(train['Answer'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7795 entries, 0 to 7794
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        7795 non-null   int64
 1   Answer    7795 non-null   int64
 2   Question  7795 non-null   object
dtypes: int64(2), object(1)
memory usage: 182.8+ KB
None
-------------------------------------------------------
ID          0
Answer      0
Question    0
dtype: int64
-------------------------------------------------------
0    5680
1    2115
Name: Answer, dtype: int64

In [103]:
test.head()

      ID                                           Question
0  11083              В каком году основан Санкт-Петербург?
1  18349  Какой город Золотого кольца России-город худож...
2  11374  Каким цветом написана надпись магазина «пятеро...
3   9699                     Сколько весит пирамида Хеопса?
4  17748  В какой стране киберспорт впервые признали вид...

In [104]:
print(test.info())
print('-------------------------------------------------------')
print(test.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        10000 non-null  int64
 1   Question  10000 non-null  object
dtypes: int64(1), object(1)
memory usage: 156.4+ KB
None
-------------------------------------------------------
ID          0
Question    0
dtype: int64

In [105]:
for i in range(100):
    print(train['Question'][i])

Крупнейшим производителем кукурузы является:
Кто первый в РОССИЮ завёз картошку ?
Кто из мореплавателей сделал первое кругосветное путешествие?
Как зовут героя серии романов Бариса Акунина?
Какая сборная выйграла чемпионат мира по футболу в 2006 году?
Как звали коня Александра Македонского?
На ком был женат Эйнштейн
Какое устройство обладает наибольшей скоростью обмена информацией?
Где обитают пингвины ?
Что мыла мама?
Сколько длилась Семилетняя война? (18 век)
Как звали крысу которая была у Шапокляк из мультфильма о Чебурашке?
Как звали сову Гарри Поттера?
п
Сколько лап у краба?
Кто является основателем сестринского дела?
Сколько костей в шейном позвонке у пресмыкающихся?
Какая из приведенных ниже конструкций языка Prolog является правилом?
Кто был самым первым ведущим программы «В мире животных» ?
Сколько цилиндров в двигателе V
Итальянцы называют это государство Монтенегро. Как его называем мы?
Кто самый сильный футболист?
Как зовут юного сыщика в детективе Астрид Линдгрен?
Какой самый знаменитый праздник в мире где все отдыхают
В каком вымышленном банке, расположенном  в Лондоне, основную часть сотрудников составляли гоблины?
Сколько звезд в солнечной системе
С какой страной НЕ граничит Словения ?
Каковы настоящее имя и фамилия актера Майкла Китона?
Что такое сквирт
Сколько сухопутных границ имеет КНДР?
За какой фильм Леонардо ДиКаприо получил Оскар?
Кто стал первым чемпионом UFC из России?
С каким государством Россия имеет сухопутную границу?
Кто вошёл в историю как «отец медицины»?
Как зовут бойца корриды , убивающих быков ?
в каком году открылось метро в Москве ?
Согласно пословице, до какой столицы может довести язык?
Что можно купить за клеверсы?
какая столица Южной Кореи
Какой из перечисленных химических элементов не относится к инертным газам?
В каком году мышонок Микки Маус впервые появился на экранах?
При какой температуре плавится стекло?
Сколько всего богов было в Древнем Египте?
Какая фраза принадлежит Коту Леопольду?
Как называются комары и другие кровососущие насекомые,  докучающие животным и человеку?
Кто НЕ входил в мистическую тройку в романе М.А.Булгакова "Мастер и Маргарита"?
Символом какой страны является клевер?
Закончите строку стихотворения Александра Блока: «Ночь, улица, фонарь..?»
Какого числа раньше праздновали Новый Год?
Почему пожарные ведра имеют форму конуса?
Кто из данных игроков получил MVP больше всех?
Кто из этих людей принёс рэп в Россию?
Какая столица у Австралии?
Почему луна светится???
Как называется литературный род, где основной формой повествования является проза?
В каком году отменили крепостное право в России
Как правильно закончить пословицу: «Не откладывай на завтра то, что можно…»
В каком месте последние годы жизни прожил знаменитый писатель Лев Николаевич Толстой
Сколько лет на данный момент лидеру группы КИНО В. Цою?
В каком году произошел теракт в Беслане?
Сколько суток составляет високосный год
сколько калорий в банане
Кто придумал носить широкополые шляпы?
В какой стране больше всего временных поясов?
Что является связью малыша в утробе матери?
1000 - это 10 в какой степени?
Сколько знаков в До мажоре?
Что изобрели первее?
Прототипом какого художника стал главный герой романа С.Моэма "Луна и грош"?
Трава-мурава, травушка-муравушка, - всем нам с детства из сказок знакомы эти словосочетания. Что это за трава такая, почему называют ее так нежно и поэтично, травушка-муравушка? Пойду пройдусь по траве-мураве, повествуют нам народные былины, по траве-мураве покачаюсь...
Правда ли,что земля является шаром?
Как звали главных героинь мультфильма Хаяо Миядзаки - "Мой сосед Тоторо"?
Сколько лет правила Екатерина II Российской империей.
Чем занимается сомнолог?
угадайте какое радио я люблю
Под чем обычно лежит заяц?
Три кусочека «чего-то» у меня лежали, ну а - где?
В каком году умер актер пол уокер
В каком  году сборная СССР по футболу стала Чемпионом Европы
В 1999 году музыканты из Ростова-на-Дону создали в Москве группу ... барабанщики. Писали песни с элементами джаза.
Как зовут главного героя в сериале Шерлок
В какого числа родился Иван Яковлевич Яковлев?
Что из перечисленного является восточной пряностью?
Как назывался город, который находился на месте Рыбинского водохранилища в Я рославской области?
У какой породы кошек самые короткие лапы?
Кто является рекордсменом по забитвм мячам в одном сезоне в Английской премьер лиге?
Сколько игр Клевер уже было проведено?
Сколько звёзд на флаге США?
Как зовут героя татарских и башкирских сказок, щекочущего людей до смерти?
Кто отменил крепостное право?
Какая битва была в 1812 году
Кто забил победный гол  в финале Чемпионата Мира по футболу 2014 ?
Кто из футболистов утверждал, что «играть надо ногами, а думать – головой»
Чем чаще всего пользуемся в школе
Какое млекопитающее самое маленькое в мире?
Как называется некроз тканей, соприкасаемых с внешней средой?
Кто из американских президентов находился в должности самое непродолжительное время, умерев через месяц после принесения присяги?
Сколько углов у казахской юрты?
Сколько лет шёл  сериал «Санта-Барбара»?
Кто их персонажей появлялся в кино чаще?

In [106]:
train['Question_01'] = train['Question'].str.replace('"', "")
train['Question_01'] = train['Question_01'].str.replace('…', "")

signs = ['?', ',', ':', '!', '.', ';', '«', '»', '(', ')', '*', '+', '-', '^', '|', '=', "’", "‘",  '”', '—']
for punct_sign in signs:
    train['Question_01'] = train['Question_01'].str.replace(punct_sign, ' ')

train['Question_01'] = train['Question_01'].str.replace("'", " ")
train['Question_01'] = train['Question_01'].str.replace("/", " ")

train['Question_01'] = train['Question_01'].str.replace('  ', " ")
train['Question_01'] = train['Question_01'].str.replace('  ', " ")

In [107]:
train['Question_01'] = train['Question_01'].str.lower()

In [108]:
train.head()

      ID  ...                                        Question_01
0  16019  ...       крупнейшим производителем кукурузы является
1   5121  ...                кто первый в россию завёз картошку
2  17169  ...  кто из мореплавателей сделал первое кругосветн...
3  15480  ...      как зовут героя серии романов бариса акунина
4   3312  ...  какая сборная выйграла чемпионат мира по футбо...

[5 rows x 4 columns]

In [84]:
!pip install pymorphy2
from pymorphy2 import MorphAnalyzer
ma = MorphAnalyzer()

Requirement already satisfied: pymorphy2 in /usr/local/lib/python3.7/dist-packages (0.9.1)
Requirement already satisfied: docopt>=0.6 in /usr/local/lib/python3.7/dist-packages (from pymorphy2) (0.6.2)
Requirement already satisfied: pymorphy2-dicts-ru<3.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from pymorphy2) (2.4.417127.4579844)
Requirement already satisfied: dawg-python>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from pymorphy2) (0.7.2)

In [109]:
lemmatized_text = []
for i in range(len(train)):
    lemmatized_words = []

    text_in_words = train.loc[i]['Question_01'].split(' ')

    for word in text_in_words:
        lemma = ma.parse(word)
        lemmatized_words.append(lemma[0].normal_form)

    text = " ".join(lemmatized_words)
    lemmatized_text.append(text)

train['Question_02'] = lemmatized_text

In [110]:
train.head()

      ID  ...                                        Question_02
0  16019  ...           крупный производитель кукуруза являться
1   5121  ...              кто первый в россия завезти картошка
2  17169  ...  кто из мореплаватель сделать первый кругосветн...
3  15480  ...          как звать герой серия роман барис акунин
4   3312  ...  какой сборная выйграло чемпионат мир по футбол...

[5 rows x 5 columns]

In [111]:
import nltk
from nltk.corpus import stopwords

nltk.download("stopwords")
russian_stopwords = stopwords.words("russian")

for stop_word in russian_stopwords:
    stopword = r"\b" + stop_word + r"\b"
    train['Question_02'] = train['Question_02'].str.replace(stopword, '')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [112]:
train.head()

      ID  ...                                        Question_02
0  16019  ...           крупный производитель кукуруза являться
1   5121  ...                   первый  россия завезти картошка
2  17169  ...    мореплаватель сделать первый кругосветный пу...
3  15480  ...              звать герой серия роман барис акунин
4   3312  ...   сборная выйграло чемпионат мир  футбол  2006 ...

[5 rows x 5 columns]

In [113]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train['Question_02'], train['Answer'], test_size = 0.2, random_state = 42)

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [114]:
X_train_cv = cv.fit_transform(X_train)
X_test_cv = cv.transform(X_test)

In [62]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import  KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import classification_report

In [49]:
from sklearn.pipeline import Pipeline

In [115]:
# LogisticRegression
p_log = Pipeline([('classifier', LogisticRegression())])
p_log.fit(X_train_cv, y_train)
p_log_predict = p_log.predict(X_test_cv)

print(classification_report(y_test,p_log_predict))

              precision    recall  f1-score   support

           0       0.75      0.91      0.82      1150
           1       0.38      0.15      0.22       409

    accuracy                           0.71      1559
   macro avg       0.57      0.53      0.52      1559
weighted avg       0.65      0.71      0.66      1559

In [116]:
# DecisionTreeClassifier
p_tree = Pipeline([('classifier', DecisionTreeClassifier())])
p_tree.fit(X_train_cv, y_train)
p_tree_predict = p_tree.predict(X_test_cv)

print(classification_report(y_test,p_tree_predict))

              precision    recall  f1-score   support

           0       0.75      0.84      0.79      1150
           1       0.34      0.23      0.28       409

    accuracy                           0.68      1559
   macro avg       0.55      0.54      0.53      1559
weighted avg       0.65      0.68      0.66      1559

In [117]:
# SVC
p_svc = Pipeline([('classifier', SVC())])
p_svc.fit(X_train_cv, y_train)
p_svc_predict = p_svc.predict(X_test_cv)

print(classification_report(y_test,p_svc_predict))

              precision    recall  f1-score   support

           0       0.74      0.97      0.84      1150
           1       0.37      0.04      0.07       409

    accuracy                           0.73      1559
   macro avg       0.56      0.51      0.46      1559
weighted avg       0.64      0.73      0.64      1559

In [118]:
# KNeighborsClassifier
p_knn = Pipeline([('classifier', KNeighborsClassifier())])
p_knn.fit(X_train_cv, y_train)
p_knn_predict = p_knn.predict(X_test_cv)

print(classification_report(y_test,p_knn_predict))

              precision    recall  f1-score   support

           0       0.74      0.97      0.84      1150
           1       0.40      0.07      0.11       409

    accuracy                           0.73      1559
   macro avg       0.57      0.52      0.48      1559
weighted avg       0.65      0.73      0.65      1559

In [119]:
# RandomForestClassifier
p_rf = Pipeline([('classifier', RandomForestClassifier())])
p_rf.fit(X_train_cv, y_train)
p_rf_predict = p_rf.predict(X_test_cv)

print(classification_report(y_test,p_rf_predict))

              precision    recall  f1-score   support

           0       0.74      0.93      0.82      1150
           1       0.33      0.10      0.16       409

    accuracy                           0.71      1559
   macro avg       0.54      0.51      0.49      1559
weighted avg       0.64      0.71      0.65      1559

In [121]:
# Лучшие результаты относительно всех оценок показала DecisionTreeClassifier