In [ ]:
# типы данных: int, float, str, boolean, кортежи\списки\словари, датафрейм\серия\вектор

# сложение трех чисел:
def sum(a, b, c): 
    return a+b+c
#sum(1,2,3)

# обучение с учителем - данные + ответы
# обучение без учителем - данные

# задача классификации - разделение объектов на группы
# задача кластеризации - группировка данных
# задача регрнссии - предсказание конкретного значения

# MSE -> регрессия
# recall -> классификация
# accuracy - доля правильных ответов относительно всех остальных

# нейросеть - модель, состоящая из "нейронов", взаимодейтствующих между собой определенным образом

In [ ]:
# ПРАКТИКА

In [13]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, precision_score

from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Data Science/11 КЛАСС/Уроки/dataset.csv')
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

              id    spkid          full_name  ...     sigma_per class      rms
0       a0000001  2000001            1 Ceres  ...  9.415900e-09   MBA  0.43301
1       a0000002  2000002           2 Pallas  ...  3.680700e-06   MBA  0.35936
2       a0000003  2000003             3 Juno  ...  3.107200e-06   MBA  0.33848
3       a0000004  2000004            4 Vesta  ...  1.274900e-06   MBA  0.39980
4       a0000005  2000005          5 Astraea  ...  3.490500e-06   MBA  0.52191
...          ...      ...                ...  ...           ...   ...      ...
958519  bPLS6013  3246801         (6013 P-L)  ...  7.264900e+02   MBA  0.23839
958520  bPLS6331  3246834         (6331 P-L)  ...  1.578500e-05   MBA  0.53633
958521  bPLS6344  3013075         (6344 P-L)  ...  9.127500e-05   APO  0.51556
958522  bT2S2060  3246457         (2060 T-2)  ...  5.035500e+02   MBA  0.25641
958523  bT3S2678  3246553         (2678 T-3)  ...  1.064800e+02   MBA  0.26980

[958524 rows x 45 columns]

In [4]:
print(df.info(), "\n___________________________________________________________\n")
print(df.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 45 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              958524 non-null  object
 1   spkid           958524 non-null  int64
 2   full_name       958524 non-null  object
 3   pdes            958524 non-null  object
 4   name            22064 non-null   object
 5   prefix          18 non-null      object
 6   neo             958520 non-null  object
 7   pha             938603 non-null  object
 8   H               952261 non-null  float64
 9   diameter        136209 non-null  float64
 10  albedo          135103 non-null  float64
 11  diameter_sigma  136081 non-null  float64
 12  orbit_id        958524 non-null  object
 13  epoch           958524 non-null  float64
 14  epoch_mjd       958524 non-null  int64
 15  epoch_cal       958524 non-null  float64
 16  equinox         958524 non-null  object
 17  e               958524 non-null  float64
 18  a               958524 non-null  float64
 19  q               958524 non-null  float64
 20  i               958524 non-null  float64
 21  om              958524 non-null  float64
 22  w               958524 non-null  float64
 23  ma              958523 non-null  float64
 24  ad              958520 non-null  float64
 25  n               958524 non-null  float64
 26  tp              958524 non-null  float64
 27  tp_cal          958524 non-null  float64
 28  per             958520 non-null  float64
 29  per_y           958523 non-null  float64
 30  moid            938603 non-null  float64
 31  moid_ld         958397 non-null  float64
 32  sigma_e         938602 non-null  float64
 33  sigma_a         938602 non-null  float64
 34  sigma_q         938602 non-null  float64
 35  sigma_i         938602 non-null  float64
 36  sigma_om        938602 non-null  float64
 37  sigma_w         938602 non-null  float64
 38  sigma_ma        938602 non-null  float64
 39  sigma_ad        938598 non-null  float64
 40  sigma_n         938602 non-null  float64
 41  sigma_tp        938602 non-null  float64
 42  sigma_per       938598 non-null  float64
 43  class           958524 non-null  object
 44  rms             958522 non-null  float64
dtypes: float64(33), int64(2), object(10)
memory usage: 329.1+ MB
None
___________________________________________________________

id                     0
spkid                  0
full_name              0
pdes                   0
name              936460
prefix            958506
neo                    4
pha                19921
H                   6263
diameter          822315
albedo            823421
diameter_sigma    822443
orbit_id               0
epoch                  0
epoch_mjd              0
epoch_cal              0
equinox                0
e                      0
a                      0
q                      0
i                      0
om                     0
w                      0
ma                     1
ad                     4
n                      0
tp                     0
tp_cal                 0
per                    4
per_y                  1
moid               19921
moid_ld              127
sigma_e            19922
sigma_a            19922
sigma_q            19922
sigma_i            19922
sigma_om           19922
sigma_w            19922
sigma_ma           19922
sigma_ad           19926
sigma_n            19922
sigma_tp           19922
sigma_per          19926
class                  0
rms                    2
dtype: int64

In [5]:
df = df.drop(['name', 'prefix','diameter', 'albedo', 'diameter_sigma',
              'id', 'spkid','full_name', 'pdes',
              'orbit_id', 'epoch','epoch_mjd', 'epoch_cal', 'equinox'], axis = 1)

In [6]:
df = df.dropna(how='any')

In [7]:
print(df.info(), "\n____________________________________________________\n")
print(df.isna().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 932335 entries, 0 to 958523
Data columns (total 31 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   neo        932335 non-null  object
 1   pha        932335 non-null  object
 2   H          932335 non-null  float64
 3   e          932335 non-null  float64
 4   a          932335 non-null  float64
 5   q          932335 non-null  float64
 6   i          932335 non-null  float64
 7   om         932335 non-null  float64
 8   w          932335 non-null  float64
 9   ma         932335 non-null  float64
 10  ad         932335 non-null  float64
 11  n          932335 non-null  float64
 12  tp         932335 non-null  float64
 13  tp_cal     932335 non-null  float64
 14  per        932335 non-null  float64
 15  per_y      932335 non-null  float64
 16  moid       932335 non-null  float64
 17  moid_ld    932335 non-null  float64
 18  sigma_e    932335 non-null  float64
 19  sigma_a    932335 non-null  float64
 20  sigma_q    932335 non-null  float64
 21  sigma_i    932335 non-null  float64
 22  sigma_om   932335 non-null  float64
 23  sigma_w    932335 non-null  float64
 24  sigma_ma   932335 non-null  float64
 25  sigma_ad   932335 non-null  float64
 26  sigma_n    932335 non-null  float64
 27  sigma_tp   932335 non-null  float64
 28  sigma_per  932335 non-null  float64
 29  class      932335 non-null  object
 30  rms        932335 non-null  float64
dtypes: float64(28), object(3)
memory usage: 227.6+ MB
None
____________________________________________________

neo          0
pha          0
H            0
e            0
a            0
q            0
i            0
om           0
w            0
ma           0
ad           0
n            0
tp           0
tp_cal       0
per          0
per_y        0
moid         0
moid_ld      0
sigma_e      0
sigma_a      0
sigma_q      0
sigma_i      0
sigma_om     0
sigma_w      0
sigma_ma     0
sigma_ad     0
sigma_n      0
sigma_tp     0
sigma_per    0
class        0
rms          0
dtype: int64

In [8]:
df = pd.get_dummies(df, columns=['class', 'neo'])

x = LabelEncoder()
l = x.fit_transform(df['pha'])
df['pha'] = l

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 932335 entries, 0 to 958523
Data columns (total 43 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   pha        932335 non-null  int64
 1   H          932335 non-null  float64
 2   e          932335 non-null  float64
 3   a          932335 non-null  float64
 4   q          932335 non-null  float64
 5   i          932335 non-null  float64
 6   om         932335 non-null  float64
 7   w          932335 non-null  float64
 8   ma         932335 non-null  float64
 9   ad         932335 non-null  float64
 10  n          932335 non-null  float64
 11  tp         932335 non-null  float64
 12  tp_cal     932335 non-null  float64
 13  per        932335 non-null  float64
 14  per_y      932335 non-null  float64
 15  moid       932335 non-null  float64
 16  moid_ld    932335 non-null  float64
 17  sigma_e    932335 non-null  float64
 18  sigma_a    932335 non-null  float64
 19  sigma_q    932335 non-null  float64
 20  sigma_i    932335 non-null  float64
 21  sigma_om   932335 non-null  float64
 22  sigma_w    932335 non-null  float64
 23  sigma_ma   932335 non-null  float64
 24  sigma_ad   932335 non-null  float64
 25  sigma_n    932335 non-null  float64
 26  sigma_tp   932335 non-null  float64
 27  sigma_per  932335 non-null  float64
 28  rms        932335 non-null  float64
 29  class_AMO  932335 non-null  uint8
 30  class_APO  932335 non-null  uint8
 31  class_AST  932335 non-null  uint8
 32  class_ATE  932335 non-null  uint8
 33  class_CEN  932335 non-null  uint8
 34  class_IEO  932335 non-null  uint8
 35  class_IMB  932335 non-null  uint8
 36  class_MBA  932335 non-null  uint8
 37  class_MCA  932335 non-null  uint8
 38  class_OMB  932335 non-null  uint8
 39  class_TJN  932335 non-null  uint8
 40  class_TNO  932335 non-null  uint8
 41  neo_N      932335 non-null  uint8
 42  neo_Y      932335 non-null  uint8
dtypes: float64(28), int64(1), uint8(14)
memory usage: 225.8 MB

In [9]:
X = df.drop('pha', axis = 1)
y = df['pha']

standart = StandardScaler()
X_st = standart.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_st, y, test_size = 1/3, random_state = 42)

In [18]:
lg = LogisticRegression()
lg.fit(X_train, y_train)
model_predict = lg.predict(X_test)
print("\nACCURACY:", accuracy_score(y_test, model_predict), "\nRECALL:", recall_score(y_test, model_predict), "\nPRECISION:", precision_score(y_test, model_predict) )

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

ACCURACY: 0.9982720840211211
RECALL: 0.406025824964132
PRECISION: 0.6970443349753694

In [19]:
tree = DecisionTreeClassifier(random_state=1)
tree.fit(X_train, y_train)
model_predict = tree.predict(X_test)
print("\nACCURACY:", accuracy_score(y_test, model_predict), "\nRECALL:", recall_score(y_test, model_predict), "\nPRECISION:", precision_score(y_test, model_predict) )

ACCURACY: 0.9998841620572818
RECALL: 0.9799139167862266
PRECISION: 0.9687943262411347

In [20]:
xgb = XGBClassifier()
xgb.fit(X_train, y_train)
model_predict = xgb.predict(X_test)
print("\nACCURACY:", accuracy_score(y_test, model_predict), "\nRECALL:", recall_score(y_test, model_predict), "\nPRECISION:", precision_score(y_test, model_predict) )

ACCURACY: 0.9999163392635925
RECALL: 0.9799139167862266
PRECISION: 0.9827338129496402

In [ ]:
svm = SVC()
svm.fit(X_train, y_train)
model_predict = svm.predict(X_test)
print("\nACCURACY\tRECALL\tPRECISION\n", 
      accuracy_score(y_test, model_predict), "\t", recall_score(y_test, model_predict), "\t", precision_score(y_test, model_predict), "\n")

In [ ]:
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
model_predict = knn.predict(X_test)
print("\nACCURACY:", accuracy_score(y_test, model_predict), "\nRECALL:", recall_score(y_test, model_predict), "\nPRECISION:", precision_score(y_test, model_predict) )

В итоге результаты моделей XGBClassifier и DecisionTreeClassifier показали почти идеальные результаты.
Модель LogisticRegression при увеличении количества итераций (не дефолтные) ощутимо увеличивает время работы в разы. Время работы KNeighborsClassifier и SVC также слишком велико