In [ ]:
числовые бинарные категориальные

In [ ]:
def sum(a,b,c):
  return(a+b+c)

print(sum(1,2,3))

6

In [ ]:
обучение с учителем
обучение на готовых данных с ответами
обучение без учителя
распределение на группы без готовых ответов по данным признакам

In [ ]:
задачи классификации распределение объектов на группы 
задачи кластеризации распределение на группы
задачи регрессии предсказание значений

In [ ]:
Нейронная сеть - модель состоящая из отдельных нейронов которые отвечают за свою часть

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Новый раздел

In [2]:
import pandas as pd
import numpy as np

df=pd.read_csv('./drive/MyDrive/Colab_Notebooks/dataset.csv')
df.info()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 45 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              958524 non-null  object
 1   spkid           958524 non-null  int64
 2   full_name       958524 non-null  object
 3   pdes            958524 non-null  object
 4   name            22064 non-null   object
 5   prefix          18 non-null      object
 6   neo             958520 non-null  object
 7   pha             938603 non-null  object
 8   H               952261 non-null  float64
 9   diameter        136209 non-null  float64
 10  albedo          135103 non-null  float64
 11  diameter_sigma  136081 non-null  float64
 12  orbit_id        958524 non-null  object
 13  epoch           958524 non-null  float64
 14  epoch_mjd       958524 non-null  int64
 15  epoch_cal       958524 non-null  float64
 16  equinox         958524 non-null  object
 17  e               958524 non-null  float64
 18  a               958524 non-null  float64
 19  q               958524 non-null  float64
 20  i               958524 non-null  float64
 21  om              958524 non-null  float64
 22  w               958524 non-null  float64
 23  ma              958523 non-null  float64
 24  ad              958520 non-null  float64
 25  n               958524 non-null  float64
 26  tp              958524 non-null  float64
 27  tp_cal          958524 non-null  float64
 28  per             958520 non-null  float64
 29  per_y           958523 non-null  float64
 30  moid            938603 non-null  float64
 31  moid_ld         958397 non-null  float64
 32  sigma_e         938602 non-null  float64
 33  sigma_a         938602 non-null  float64
 34  sigma_q         938602 non-null  float64
 35  sigma_i         938602 non-null  float64
 36  sigma_om        938602 non-null  float64
 37  sigma_w         938602 non-null  float64
 38  sigma_ma        938602 non-null  float64
 39  sigma_ad        938598 non-null  float64
 40  sigma_n         938602 non-null  float64
 41  sigma_tp        938602 non-null  float64
 42  sigma_per       938598 non-null  float64
 43  class           958524 non-null  object
 44  rms             958522 non-null  float64
dtypes: float64(33), int64(2), object(10)
memory usage: 329.1+ MB

In [3]:
df

              id    spkid          full_name  ...     sigma_per class      rms
0       a0000001  2000001            1 Ceres  ...  9.415900e-09   MBA  0.43301
1       a0000002  2000002           2 Pallas  ...  3.680700e-06   MBA  0.35936
2       a0000003  2000003             3 Juno  ...  3.107200e-06   MBA  0.33848
3       a0000004  2000004            4 Vesta  ...  1.274900e-06   MBA  0.39980
4       a0000005  2000005          5 Astraea  ...  3.490500e-06   MBA  0.52191
...          ...      ...                ...  ...           ...   ...      ...
958519  bPLS6013  3246801         (6013 P-L)  ...  7.264900e+02   MBA  0.23839
958520  bPLS6331  3246834         (6331 P-L)  ...  1.578500e-05   MBA  0.53633
958521  bPLS6344  3013075         (6344 P-L)  ...  9.127500e-05   APO  0.51556
958522  bT2S2060  3246457         (2060 T-2)  ...  5.035500e+02   MBA  0.25641
958523  bT3S2678  3246553         (2678 T-3)  ...  1.064800e+02   MBA  0.26980

[958524 rows x 45 columns]

In [4]:
df.columns

Index(['id', 'spkid', 'full_name', 'pdes', 'name', 'prefix', 'neo', 'pha', 'H',
       'diameter', 'albedo', 'diameter_sigma', 'orbit_id', 'epoch',
       'epoch_mjd', 'epoch_cal', 'equinox', 'e', 'a', 'q', 'i', 'om', 'w',
       'ma', 'ad', 'n', 'tp', 'tp_cal', 'per', 'per_y', 'moid', 'moid_ld',
       'sigma_e', 'sigma_a', 'sigma_q', 'sigma_i', 'sigma_om', 'sigma_w',
       'sigma_ma', 'sigma_ad', 'sigma_n', 'sigma_tp', 'sigma_per', 'class',
       'rms'],
      dtype='object')

In [5]:
print(df.isna().sum())

id                     0
spkid                  0
full_name              0
pdes                   0
name              936460
prefix            958506
neo                    4
pha                19921
H                   6263
diameter          822315
albedo            823421
diameter_sigma    822443
orbit_id               0
epoch                  0
epoch_mjd              0
epoch_cal              0
equinox                0
e                      0
a                      0
q                      0
i                      0
om                     0
w                      0
ma                     1
ad                     4
n                      0
tp                     0
tp_cal                 0
per                    4
per_y                  1
moid               19921
moid_ld              127
sigma_e            19922
sigma_a            19922
sigma_q            19922
sigma_i            19922
sigma_om           19922
sigma_w            19922
sigma_ma           19922
sigma_ad           19926
sigma_n            19922
sigma_tp           19922
sigma_per          19926
class                  0
rms                    2
dtype: int64

In [6]:
df = df.drop(['id', 'spkid', 'full_name', 'pdes', 'name', 'prefix',
       'diameter', 'albedo', 'diameter_sigma','moid', 'moid_ld',
       'sigma_e', 'sigma_a', 'sigma_q', 'sigma_i', 'sigma_om', 'sigma_w',
       'sigma_ma', 'sigma_ad', 'sigma_n', 'sigma_tp', 'sigma_per'], axis = 1)

In [7]:
df

       neo pha       H orbit_id  ...          per     per_y  class      rms
0        N   N   3.400   JPL 47  ...  1683.145703  4.608202    MBA  0.43301
1        N   N   4.200   JPL 37  ...  1687.410992  4.619880    MBA  0.35936
2        N   N   5.330  JPL 112  ...  1592.013769  4.358696    MBA  0.33848
3        N   N   3.000   JPL 35  ...  1325.432763  3.628837    MBA  0.39980
4        N   N   6.900  JPL 114  ...  1508.414421  4.129814    MBA  0.52191
...     ..  ..     ...      ...  ...          ...       ...    ...      ...
958519   N   N  17.135    JPL 5  ...  1258.191614  3.444741    MBA  0.23839
958520   N   N  18.500        8  ...  1303.177916  3.567907    MBA  0.53633
958521   Y   Y  20.400       17  ...  1727.085364  4.728502    APO  0.51556
958522   N   N  18.071    JPL 3  ...  1335.311579  3.655884    MBA  0.25641
958523   N   N  18.060    JPL 3  ...  1241.302609  3.398501    MBA  0.26980

[958524 rows x 23 columns]

In [8]:
df=df.dropna()
df

       neo pha       H orbit_id  ...          per     per_y  class      rms
0        N   N   3.400   JPL 47  ...  1683.145703  4.608202    MBA  0.43301
1        N   N   4.200   JPL 37  ...  1687.410992  4.619880    MBA  0.35936
2        N   N   5.330  JPL 112  ...  1592.013769  4.358696    MBA  0.33848
3        N   N   3.000   JPL 35  ...  1325.432763  3.628837    MBA  0.39980
4        N   N   6.900  JPL 114  ...  1508.414421  4.129814    MBA  0.52191
...     ..  ..     ...      ...  ...          ...       ...    ...      ...
958519   N   N  17.135    JPL 5  ...  1258.191614  3.444741    MBA  0.23839
958520   N   N  18.500        8  ...  1303.177916  3.567907    MBA  0.53633
958521   Y   Y  20.400       17  ...  1727.085364  4.728502    APO  0.51556
958522   N   N  18.071    JPL 3  ...  1335.311579  3.655884    MBA  0.25641
958523   N   N  18.060    JPL 3  ...  1241.302609  3.398501    MBA  0.26980

[932335 rows x 23 columns]

In [9]:
df['pha']

0         N
1         N
2         N
3         N
4         N
         ..
958519    N
958520    N
958521    Y
958522    N
958523    N
Name: pha, Length: 932335, dtype: object

In [10]:
df.pha.unique()

array(['N', 'Y'], dtype=object)

In [11]:
df['pha'].value_counts()

N    930269
Y      2066
Name: pha, dtype: int64

In [12]:
df['class'].unique()

array(['MBA', 'OMB', 'MCA', 'AMO', 'IMB', 'TJN', 'CEN', 'APO', 'ATE',
       'AST', 'TNO', 'IEO'], dtype=object)

In [13]:
df['pha']=df['pha'].map({'Y':1,'N':0})

df=pd.get_dummies(df)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        pha       H      epoch  ...  class_OMB  class_TJN  class_TNO
0         0   3.400  2458600.5  ...          0          0          0
1         0   4.200  2459000.5  ...          0          0          0
2         0   5.330  2459000.5  ...          0          0          0
3         0   3.000  2458600.5  ...          0          0          0
4         0   6.900  2459000.5  ...          0          0          0
...     ...     ...        ...  ...        ...        ...        ...
958519    0  17.135  2437203.5  ...          0          0          0
958520    0  18.500  2459000.5  ...          0          0          0
958521    1  20.400  2459000.5  ...          0          0          0
958522    0  18.071  2441956.5  ...          0          0          0
958523    0  18.060  2443429.5  ...          0          0          0

[932335 rows x 559 columns]

In [14]:
df

        pha       H      epoch  ...  class_OMB  class_TJN  class_TNO
0         0   3.400  2458600.5  ...          0          0          0
1         0   4.200  2459000.5  ...          0          0          0
2         0   5.330  2459000.5  ...          0          0          0
3         0   3.000  2458600.5  ...          0          0          0
4         0   6.900  2459000.5  ...          0          0          0
...     ...     ...        ...  ...        ...        ...        ...
958519    0  17.135  2437203.5  ...          0          0          0
958520    0  18.500  2459000.5  ...          0          0          0
958521    1  20.400  2459000.5  ...          0          0          0
958522    0  18.071  2441956.5  ...          0          0          0
958523    0  18.060  2443429.5  ...          0          0          0

[932335 rows x 559 columns]

In [15]:
X=df.drop('pha',axis=1)
y=df['pha']

In [16]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
X_st=scaler.fit_transform(X)
X_st

array([[ -7.4892831 ,  -0.45771665,  -0.45771665, ...,  -0.17325307,
         -0.09374443,  -0.0610234 ],
       [ -7.04514505,   0.16348883,   0.16348883, ...,  -0.17325307,
         -0.09374443,  -0.0610234 ],
       [ -6.41780004,   0.16348883,   0.16348883, ...,  -0.17325307,
         -0.09374443,  -0.0610234 ],
       ...,
       [  1.94865058,   0.16348883,   0.16348883, ...,  -0.17325307,
         -0.09374443,  -0.0610234 ],
       [  0.65565366, -26.3060768 , -26.3060768 , ...,  -0.17325307,
         -0.09374443,  -0.0610234 ],
       [  0.64954677, -24.01848761, -24.01848761, ...,  -0.17325307,
         -0.09374443,  -0.0610234 ]])

In [17]:
from sklearn.model_selection import  train_test_split

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X_st,y,test_size=0.3,random_state=42)

In [19]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
import xgboost as xgb

In [21]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

In [ ]:
models=[KNeighborsClassifier(2),LogisticRegression(),SVC(),DecisionTreeClassifier(criterion='gini', random_state=1)]
for model in models:
  model.fit(X_train,y_train)
  y_pred=model.predict(X_test)
  print(str(model))
  print(accuracy_score(y_test,y_pred))
  print(recall_score(y_test,y_pred))
  print(precision_score(y_test,y_pred))