In [1]:
from google.colab import files
uploaded = files.upload()

Saving News_dataset.csv to News_dataset.csv

In [2]:
import pandas as pd

df = pd.read_csv("News_dataset.csv", sep=';')
df.head()

  File_Name  ... Complete_Filename
0   001.txt  ...  001.txt-business
1   002.txt  ...  002.txt-business
2   003.txt  ...  003.txt-business
3   004.txt  ...  004.txt-business
4   005.txt  ...  005.txt-business

[5 rows x 4 columns]

# Исследование данных

- размерность данных
- пропущенные значения
- типы данных в датасете
- количество и баланс классов

In [ ]:
df.shape

(2225, 4)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   File_Name          2225 non-null   object
 1   Content            2225 non-null   object
 2   Category           2225 non-null   object
 3   Complete_Filename  2225 non-null   object
dtypes: object(4)
memory usage: 69.7+ KB

In [ ]:
df.isna().sum()

File_Name            0
Content              0
Category             0
Complete_Filename    0
dtype: int64

In [ ]:
df['Category'].unique()

array(['business', 'entertainment', 'politics', 'sport', 'tech'],
      dtype=object)

In [3]:
df['Category'].value_counts()

sport            511
business         510
politics         417
tech             401
entertainment    386
Name: Category, dtype: int64

# Обработка данных

Предварительная обработка и очистка текстовых данных
Любой рабочий процесс анализа данных начинается с их загрузки. Далее мы должны пропустить их через конвейер (pipeline) предобработки:

- удаление знаков препинания, лишних и спец символов
- приведение к одному регистру
- токенизировать текст – разбить текст на предложения, слова и другие единицы;
- удалить стоп-слова;
- привести слова к нормальной форме;
- векторизовать тексты – сделать числовые представления текстов для их дальнейшей обработки классификатором.

Все эти шаги служат для уменьшения шума, присущего любому обычному тексту, и повышения точности результатов классификатора. Для решения указанных задач есть несколько отличных библиотек, например, NLTK, TextBlob и spaCy. Последнюю мы и будем применять в этом руководстве.

In [4]:
df.loc[1]['Content']

'Dollar gains on Greenspan speech\n\nThe dollar has hit its highest level against the euro in almost three months after the Federal Reserve head said the US trade deficit is set to stabilise.\n\nAnd Alan Greenspan highlighted the US government\'s willingness to curb spending and rising household savings as factors which may help to reduce it. In late trading in New York, the dollar reached $1.2871 against the euro, from $1.2974 on Thursday. Market concerns about the deficit has hit the greenback in recent months. On Friday, Federal Reserve chairman Mr Greenspan\'s speech in London ahead of the meeting of G7 finance ministers sent the dollar higher after it had earlier tumbled on the back of worse-than-expected US jobs data. "I think the chairman\'s taking a much more sanguine view on the current account deficit than he\'s taken for some time," said Robert Sinche, head of currency strategy at Bank of America in New York. "He\'s taking a longer-term view, laying out a set of conditions under which the current account deficit can improve this year and next."\n\nWorries about the deficit concerns about China do, however, remain. China\'s currency remains pegged to the dollar and the US currency\'s sharp falls in recent months have therefore made Chinese export prices highly competitive. But calls for a shift in Beijing\'s policy have fallen on deaf ears, despite recent comments in a major Chinese newspaper that the "time is ripe" for a loosening of the peg. The G7 meeting is thought unlikely to produce any meaningful movement in Chinese policy. In the meantime, the US Federal Reserve\'s decision on 2 February to boost interest rates by a quarter of a point - the sixth such move in as many months - has opened up a differential with European rates. The half-point window, some believe, could be enough to keep US assets looking more attractive, and could help prop up the dollar. The recent falls have partly been the result of big budget deficits, as well as the US\'s yawning current account gap, both of which need to be funded by the buying of US bonds and assets by foreign firms and governments. The White House will announce its budget on Monday, and many commentators believe the deficit will remain at close to half a trillion dollars.'

## Работа со специальными символами и знаками пунктуации

Посмотрев на один из текстов мы можем увидеть много специальных символов:

- \r
- \n - переход на новую строку
- \ before possessive pronouns (government's = government\'s)
- \ before possessive pronouns 2 (Yukos' = Yukos\')
- " when quoting text

In [5]:
df.head(2)

  File_Name  ... Complete_Filename
0   001.txt  ...  001.txt-business
1   002.txt  ...  002.txt-business

[2 rows x 4 columns]

In [6]:
# \r and \n

df['Content_Parsed_1'] = df['Content'].str.replace("\r", " ")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace("\n", " ")
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace("    ", " ")
df

     File_Name  ...                                   Content_Parsed_1
0      001.txt  ...  Ad sales boost Time Warner profit  Quarterly p...
1      002.txt  ...  Dollar gains on Greenspan speech  The dollar h...
2      003.txt  ...  Yukos unit buyer faces loan claim  The owners ...
3      004.txt  ...  High fuel prices hit BA's profits  British Air...
4      005.txt  ...  Pernod takeover talk lifts Domecq  Shares in U...
...        ...  ...                                                ...
2220   397.txt  ...  BT program to beat dialler scams  BT is introd...
2221   398.txt  ...  Spam e-mails tempt net shoppers  Computer user...
2222   399.txt  ...  Be careful how you code  A new European direct...
2223   400.txt  ...  US cyber security chief resigns  The man makin...
2224   401.txt  ...  Losing yourself in online gaming  Online role ...

[2225 rows x 5 columns]

In [7]:
df.loc[1]['Content']

'Dollar gains on Greenspan speech\n\nThe dollar has hit its highest level against the euro in almost three months after the Federal Reserve head said the US trade deficit is set to stabilise.\n\nAnd Alan Greenspan highlighted the US government\'s willingness to curb spending and rising household savings as factors which may help to reduce it. In late trading in New York, the dollar reached $1.2871 against the euro, from $1.2974 on Thursday. Market concerns about the deficit has hit the greenback in recent months. On Friday, Federal Reserve chairman Mr Greenspan\'s speech in London ahead of the meeting of G7 finance ministers sent the dollar higher after it had earlier tumbled on the back of worse-than-expected US jobs data. "I think the chairman\'s taking a much more sanguine view on the current account deficit than he\'s taken for some time," said Robert Sinche, head of currency strategy at Bank of America in New York. "He\'s taking a longer-term view, laying out a set of conditions under which the current account deficit can improve this year and next."\n\nWorries about the deficit concerns about China do, however, remain. China\'s currency remains pegged to the dollar and the US currency\'s sharp falls in recent months have therefore made Chinese export prices highly competitive. But calls for a shift in Beijing\'s policy have fallen on deaf ears, despite recent comments in a major Chinese newspaper that the "time is ripe" for a loosening of the peg. The G7 meeting is thought unlikely to produce any meaningful movement in Chinese policy. In the meantime, the US Federal Reserve\'s decision on 2 February to boost interest rates by a quarter of a point - the sixth such move in as many months - has opened up a differential with European rates. The half-point window, some believe, could be enough to keep US assets looking more attractive, and could help prop up the dollar. The recent falls have partly been the result of big budget deficits, as well as the US\'s yawning current account gap, both of which need to be funded by the buying of US bonds and assets by foreign firms and governments. The White House will announce its budget on Monday, and many commentators believe the deficit will remain at close to half a trillion dollars.'

In [8]:
df.loc[1]['Content_Parsed_1']

'Dollar gains on Greenspan speech  The dollar has hit its highest level against the euro in almost three months after the Federal Reserve head said the US trade deficit is set to stabilise.  And Alan Greenspan highlighted the US government\'s willingness to curb spending and rising household savings as factors which may help to reduce it. In late trading in New York, the dollar reached $1.2871 against the euro, from $1.2974 on Thursday. Market concerns about the deficit has hit the greenback in recent months. On Friday, Federal Reserve chairman Mr Greenspan\'s speech in London ahead of the meeting of G7 finance ministers sent the dollar higher after it had earlier tumbled on the back of worse-than-expected US jobs data. "I think the chairman\'s taking a much more sanguine view on the current account deficit than he\'s taken for some time," said Robert Sinche, head of currency strategy at Bank of America in New York. "He\'s taking a longer-term view, laying out a set of conditions under which the current account deficit can improve this year and next."  Worries about the deficit concerns about China do, however, remain. China\'s currency remains pegged to the dollar and the US currency\'s sharp falls in recent months have therefore made Chinese export prices highly competitive. But calls for a shift in Beijing\'s policy have fallen on deaf ears, despite recent comments in a major Chinese newspaper that the "time is ripe" for a loosening of the peg. The G7 meeting is thought unlikely to produce any meaningful movement in Chinese policy. In the meantime, the US Federal Reserve\'s decision on 2 February to boost interest rates by a quarter of a point - the sixth such move in as many months - has opened up a differential with European rates. The half-point window, some believe, could be enough to keep US assets looking more attractive, and could help prop up the dollar. The recent falls have partly been the result of big budget deficits, as well as the US\'s yawning current account gap, both of which need to be funded by the buying of US bonds and assets by foreign firms and governments. The White House will announce its budget on Monday, and many commentators believe the deficit will remain at close to half a trillion dollars.'

In [9]:
# " уберем ковычки в тексте
df['Content_Parsed_1'] = df['Content_Parsed_1'].str.replace('"', '')

In [10]:
# приведем весь текст к одному регистру
df['Content_Parsed_2'] = df['Content_Parsed_1'].str.lower() #upper()

df.loc[1]['Content_Parsed_2']

"dollar gains on greenspan speech  the dollar has hit its highest level against the euro in almost three months after the federal reserve head said the us trade deficit is set to stabilise.  and alan greenspan highlighted the us government's willingness to curb spending and rising household savings as factors which may help to reduce it. in late trading in new york, the dollar reached $1.2871 against the euro, from $1.2974 on thursday. market concerns about the deficit has hit the greenback in recent months. on friday, federal reserve chairman mr greenspan's speech in london ahead of the meeting of g7 finance ministers sent the dollar higher after it had earlier tumbled on the back of worse-than-expected us jobs data. i think the chairman's taking a much more sanguine view on the current account deficit than he's taken for some time, said robert sinche, head of currency strategy at bank of america in new york. he's taking a longer-term view, laying out a set of conditions under which the current account deficit can improve this year and next.  worries about the deficit concerns about china do, however, remain. china's currency remains pegged to the dollar and the us currency's sharp falls in recent months have therefore made chinese export prices highly competitive. but calls for a shift in beijing's policy have fallen on deaf ears, despite recent comments in a major chinese newspaper that the time is ripe for a loosening of the peg. the g7 meeting is thought unlikely to produce any meaningful movement in chinese policy. in the meantime, the us federal reserve's decision on 2 february to boost interest rates by a quarter of a point - the sixth such move in as many months - has opened up a differential with european rates. the half-point window, some believe, could be enough to keep us assets looking more attractive, and could help prop up the dollar. the recent falls have partly been the result of big budget deficits, as well as the us's yawning current account gap, both of which need to be funded by the buying of us bonds and assets by foreign firms and governments. the white house will announce its budget on monday, and many commentators believe the deficit will remain at close to half a trillion dollars."

In [11]:
list("?:!.,;")

['?', ':', '!', '.', ',', ';']

In [12]:
# в тексте присутвуют много знаков пунктуации, которые не свидетельсвуют о теме текста
# но если бы мы проводили анализ тональности то это могло быть важным - почему?
# что делать с пунктуацией?

punctuation_signs = list("?:!.,;")
df['Content_Parsed_3'] = df['Content_Parsed_2']

for punct_sign in punctuation_signs:
    df['Content_Parsed_3'] = df['Content_Parsed_3'].str.replace(punct_sign, '')

In [13]:
df.loc[1]['Content_Parsed_2']

"dollar gains on greenspan speech  the dollar has hit its highest level against the euro in almost three months after the federal reserve head said the us trade deficit is set to stabilise.  and alan greenspan highlighted the us government's willingness to curb spending and rising household savings as factors which may help to reduce it. in late trading in new york, the dollar reached $1.2871 against the euro, from $1.2974 on thursday. market concerns about the deficit has hit the greenback in recent months. on friday, federal reserve chairman mr greenspan's speech in london ahead of the meeting of g7 finance ministers sent the dollar higher after it had earlier tumbled on the back of worse-than-expected us jobs data. i think the chairman's taking a much more sanguine view on the current account deficit than he's taken for some time, said robert sinche, head of currency strategy at bank of america in new york. he's taking a longer-term view, laying out a set of conditions under which the current account deficit can improve this year and next.  worries about the deficit concerns about china do, however, remain. china's currency remains pegged to the dollar and the us currency's sharp falls in recent months have therefore made chinese export prices highly competitive. but calls for a shift in beijing's policy have fallen on deaf ears, despite recent comments in a major chinese newspaper that the time is ripe for a loosening of the peg. the g7 meeting is thought unlikely to produce any meaningful movement in chinese policy. in the meantime, the us federal reserve's decision on 2 february to boost interest rates by a quarter of a point - the sixth such move in as many months - has opened up a differential with european rates. the half-point window, some believe, could be enough to keep us assets looking more attractive, and could help prop up the dollar. the recent falls have partly been the result of big budget deficits, as well as the us's yawning current account gap, both of which need to be funded by the buying of us bonds and assets by foreign firms and governments. the white house will announce its budget on monday, and many commentators believe the deficit will remain at close to half a trillion dollars."

In [14]:
df.loc[1]['Content_Parsed_3']

"dollar gains on greenspan speech  the dollar has hit its highest level against the euro in almost three months after the federal reserve head said the us trade deficit is set to stabilise  and alan greenspan highlighted the us government's willingness to curb spending and rising household savings as factors which may help to reduce it in late trading in new york the dollar reached $12871 against the euro from $12974 on thursday market concerns about the deficit has hit the greenback in recent months on friday federal reserve chairman mr greenspan's speech in london ahead of the meeting of g7 finance ministers sent the dollar higher after it had earlier tumbled on the back of worse-than-expected us jobs data i think the chairman's taking a much more sanguine view on the current account deficit than he's taken for some time said robert sinche head of currency strategy at bank of america in new york he's taking a longer-term view laying out a set of conditions under which the current account deficit can improve this year and next  worries about the deficit concerns about china do however remain china's currency remains pegged to the dollar and the us currency's sharp falls in recent months have therefore made chinese export prices highly competitive but calls for a shift in beijing's policy have fallen on deaf ears despite recent comments in a major chinese newspaper that the time is ripe for a loosening of the peg the g7 meeting is thought unlikely to produce any meaningful movement in chinese policy in the meantime the us federal reserve's decision on 2 february to boost interest rates by a quarter of a point - the sixth such move in as many months - has opened up a differential with european rates the half-point window some believe could be enough to keep us assets looking more attractive and could help prop up the dollar the recent falls have partly been the result of big budget deficits as well as the us's yawning current account gap both of which need to be funded by the buying of us bonds and assets by foreign firms and governments the white house will announce its budget on monday and many commentators believe the deficit will remain at close to half a trillion dollars"

In [ ]:
import nltk
nltk.download("stopwords")
from nltk.corpus import stopwords
from string import punctuation
russian_stopwords = stopwords.words("russian")

# Удаление знаков пунктуации из текста
def remove_punct(text):
    table = {33: ' ', 34: ' ', 35: ' ', 36: ' ', 37: ' ', 38: ' ', 39: ' ', 40: ' ',
             41: ' ', 42: ' ', 43: ' ', 44: ' ', 45: ' ', 46: ' ', 47: ' ', 58: ' ',
             59: ' ', 60: ' ', 61: ' ', 62: ' ', 63: ' ', 64: ' ', 91: ' ', 92: ' ',
             93: ' ', 94: ' ', 95: ' ', 96: ' ', 123: ' ', 124: ' ', 125: ' ', 126: ' '}
    return text.translate(table)

df['Content_Parsed_3'] = df['Content_Parsed_3'].map(lambda x: remove_punct(x))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [15]:
df['Content_Parsed_4'] = df['Content_Parsed_3'].str.replace("'s", "")

## Токенезация

**Токенизация** – это процесс разбиения текста на более мелкие части. В библиотеку spaCy уже встроен конвейер (pipeline), который начинает свою работу по обработке текста с токенизации. В этом руководстве мы разделим текст на отдельные слова. Загрузим пример и проведем разбиение:

In [ ]:
nltk.download('punkt')
print("------------------------------------------------------------")
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
------------------------------------------------------------
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
import nltk

sentence_data = "The First sentence is about Python. The Second: about Django. You can learn Python,Django and Data Ananlysis here. "
nltk_tokens = nltk.sent_tokenize(sentence_data)
print(nltk_tokens)

['The First sentence is about Python.', 'The Second: about Django.', 'You can learn Python,Django and Data Ananlysis here.']

In [ ]:
import nltk

word_data = "It originated from the idea that there are readers who prefer learning new skills from the comforts of their drawing rooms"
nltk_tokens = nltk.word_tokenize(word_data)
print(nltk_tokens)

['It', 'originated', 'from', 'the', 'idea', 'that', 'there', 'are', 'readers', 'who', 'prefer', 'learning', 'new', 'skills', 'from', 'the', 'comforts', 'of', 'their', 'drawing', 'rooms']

## Стеммнг и лемматизация

Обычно тексты содержат разные грамматические формы одного и того же слова, а также могут встречаться однокоренные слова. Лемматизация и стемминг преследуют цель привести все встречающиеся словоформы к одной, нормальной словарной форме.

**Стемминг** – это грубый эвристический процесс, который отрезает «лишнее» от корня слов, часто это приводит к потере словообразовательных суффиксов.

**Лемматизация** – это более тонкий процесс, который использует словарь и морфологический анализ, чтобы в итоге привести слово к его канонической форме – лемме.

Отличие в том, что стеммер (конкретная реализация алгоритма стемминга – прим.переводчика) действует без знания контекста и, соответственно, не понимает разницу между словами, которые имеют разный смысл в зависимости от части речи. Однако у стеммеров есть и свои преимущества: их проще внедрить и они работают быстрее. Плюс, более низкая «аккуратность» может не иметь значения в некоторых случаях.

In [ ]:
# стемминг
from nltk.stem import PorterStemmer

e_words= ["wait", "waiting", "waited", "waits"]
ps = PorterStemmer()
for w in e_words:
    rootWord=ps.stem(w)
    print(rootWord)

wait
wait
wait
wait

**Лемматизация** — это алгоритмический процесс нахождения леммы слова в зависимости от его значения. Лемматизация обычно относится к морфологическому анализу слов, целью которого является удаление флективных окончаний. Это помогает в возвращении базовой или словарной формы слова, которое известно как лемма. Метод лемматизации NLTK основан на встроенной морф-функции WorldNet. Предварительная обработка текста включает в себя как основы, так и лемматизации. Многие люди находят два термина запутанными. Некоторые относятся к ним как к одним и тем же, но между ними есть разница. Лемматизация предпочтительнее первой по следующей причине.

In [ ]:
import nltk
from nltk.stem import WordNetLemmatizer

wordnet_lemmatizer = WordNetLemmatizer()
text = "studies studying cries cry"
tokenization = nltk.word_tokenize(text)

for w in tokenization:
    print("Lemma for {} is {}".format(w, wordnet_lemmatizer.lemmatize(w)))

Lemma for studies is study
Lemma for studying is studying
Lemma for cries is cry
Lemma for cry is cry

In [ ]:
# !pip install pymorphy2
import pymorphy2
morph = pymorphy2.MorphAnalyzer()
p = morph.parse("гуляли")
p

[Parse(word='гуляли', tag=OpencorporaTag('VERB,impf,intr plur,past,indc'), normal_form='гулять', score=1.0, methods_stack=((DictionaryAnalyzer(), 'гуляли', 15, 10),))]

In [ ]:
p[0].normal_form

'гулять'

In [22]:
!pip install nltk
import nltk
nltk.download('wordnet')

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [19]:
df.loc[0,'Content_Parsed_4']

"ad sales boost time warner profit  quarterly profits at us media giant timewarner jumped 76% to $113bn (â£600m) for the three months to december from $639m year-earlier  the firm which is now one of the biggest investors in google benefited from sales of high-speed internet connections and higher advert sales timewarner said fourth quarter sales rose 2% to $111bn from $109bn its profits were buoyed by one-off gains which offset a profit dip at warner bros and less users for aol  time warner said on friday that it now owns 8% of search-engine google but its own internet business aol had has mixed fortunes it lost 464000 subscribers in the fourth quarter profits were lower than in the preceding three quarters however the company said aol underlying profit before exceptional items rose 8% on the back of stronger internet advertising revenues it hopes to increase subscribers by offering the online service free to timewarner internet customers and will try to sign up aol existing customers for high-speed broadband timewarner also has to restate 2000 and 2003 results following a probe by the us securities exchange commission (sec) which is close to concluding  time warner fourth quarter profits were slightly better than analysts' expectations but its film division saw profits slump 27% to $284m helped by box-office flops alexander and catwoman a sharp contrast to year-earlier when the third and final film in the lord of the rings trilogy boosted results for the full-year timewarner posted a profit of $336bn up 27% from its 2003 performance while revenues grew 64% to $4209bn our financial performance was strong meeting or exceeding all of our full-year objectives and greatly enhancing our flexibility chairman and chief executive richard parsons said for 2005 timewarner is projecting operating earnings growth of around 5% and also expects higher revenue and wider profit margins  timewarner is to restate its accounts as part of efforts to resolve an inquiry into aol by us market regulators it has already offered to pay $300m to settle charges in a deal that is under review by the sec the company said it was unable to estimate the amount it needed to set aside for legal reserves which it previously set at $500m it intends to adjust the way it accounts for a deal with german music publisher bertelsmann purchase of a stake in aol europe which it had reported as advertising revenue it will now book the sale of its stake in aol europe as a loss on the value of that stake"

In [23]:
from nltk.stem import WordNetLemmatizer

wordnet_lemmatizer = WordNetLemmatizer()

nrows = len(df)
lemmatized_text_list = []

for row in range(0, nrows):
    
    # Create an empty list containing lemmatized words
    lemmatized_list = []
    
    # Save the text and its words into an object
    text = df.loc[row]['Content_Parsed_4'] # привет гуляли всю ночь - весь текст
    text_words = text.split(" ") # ['привет', 'гуляли', 'всю', 'ночь'] - список слов всего текста

    # Iterate through every word to lemmatize
    for word in text_words:
        word_norm = wordnet_lemmatizer.lemmatize(word, pos="v")
        lemmatized_list.append(word_norm) # ['привет', 'гулять', 'все', 'ночь']
        
    # Join the list
    lemmatized_text = " ".join(lemmatized_list) # привет гулять все ночь
    
    # Append to the list containing the texts
    lemmatized_text_list.append(lemmatized_text)

df['Content_Parsed_5'] = lemmatized_text_list

In [24]:
df.loc[0,'Content_Parsed_4']
# jumped

"ad sales boost time warner profit  quarterly profits at us media giant timewarner jumped 76% to $113bn (â£600m) for the three months to december from $639m year-earlier  the firm which is now one of the biggest investors in google benefited from sales of high-speed internet connections and higher advert sales timewarner said fourth quarter sales rose 2% to $111bn from $109bn its profits were buoyed by one-off gains which offset a profit dip at warner bros and less users for aol  time warner said on friday that it now owns 8% of search-engine google but its own internet business aol had has mixed fortunes it lost 464000 subscribers in the fourth quarter profits were lower than in the preceding three quarters however the company said aol underlying profit before exceptional items rose 8% on the back of stronger internet advertising revenues it hopes to increase subscribers by offering the online service free to timewarner internet customers and will try to sign up aol existing customers for high-speed broadband timewarner also has to restate 2000 and 2003 results following a probe by the us securities exchange commission (sec) which is close to concluding  time warner fourth quarter profits were slightly better than analysts' expectations but its film division saw profits slump 27% to $284m helped by box-office flops alexander and catwoman a sharp contrast to year-earlier when the third and final film in the lord of the rings trilogy boosted results for the full-year timewarner posted a profit of $336bn up 27% from its 2003 performance while revenues grew 64% to $4209bn our financial performance was strong meeting or exceeding all of our full-year objectives and greatly enhancing our flexibility chairman and chief executive richard parsons said for 2005 timewarner is projecting operating earnings growth of around 5% and also expects higher revenue and wider profit margins  timewarner is to restate its accounts as part of efforts to resolve an inquiry into aol by us market regulators it has already offered to pay $300m to settle charges in a deal that is under review by the sec the company said it was unable to estimate the amount it needed to set aside for legal reserves which it previously set at $500m it intends to adjust the way it accounts for a deal with german music publisher bertelsmann purchase of a stake in aol europe which it had reported as advertising revenue it will now book the sale of its stake in aol europe as a loss on the value of that stake"

In [25]:
df.loc[0,'Content_Parsed_5']
# jump

"ad sales boost time warner profit  quarterly profit at us media giant timewarner jump 76% to $113bn (â£600m) for the three months to december from $639m year-earlier  the firm which be now one of the biggest investors in google benefit from sales of high-speed internet connections and higher advert sales timewarner say fourth quarter sales rise 2% to $111bn from $109bn its profit be buoy by one-off gain which offset a profit dip at warner bros and less users for aol  time warner say on friday that it now own 8% of search-engine google but its own internet business aol have have mix fortunes it lose 464000 subscribers in the fourth quarter profit be lower than in the precede three quarter however the company say aol underlie profit before exceptional items rise 8% on the back of stronger internet advertise revenues it hop to increase subscribers by offer the online service free to timewarner internet customers and will try to sign up aol exist customers for high-speed broadband timewarner also have to restate 2000 and 2003 result follow a probe by the us securities exchange commission (sec) which be close to conclude  time warner fourth quarter profit be slightly better than analysts' expectations but its film division saw profit slump 27% to $284m help by box-office flop alexander and catwoman a sharp contrast to year-earlier when the third and final film in the lord of the ring trilogy boost result for the full-year timewarner post a profit of $336bn up 27% from its 2003 performance while revenues grow 64% to $4209bn our financial performance be strong meet or exceed all of our full-year objectives and greatly enhance our flexibility chairman and chief executive richard parsons say for 2005 timewarner be project operate earn growth of around 5% and also expect higher revenue and wider profit margins  timewarner be to restate its account as part of efforts to resolve an inquiry into aol by us market regulators it have already offer to pay $300m to settle charge in a deal that be under review by the sec the company say it be unable to estimate the amount it need to set aside for legal reserve which it previously set at $500m it intend to adjust the way it account for a deal with german music publisher bertelsmann purchase of a stake in aol europe which it have report as advertise revenue it will now book the sale of its stake in aol europe as a loss on the value of that stake"

# Стоп-слова

Стоп-слова – это слова, которые выкидываются из текста до/после обработки текста. Когда мы применяем машинное обучение к текстам, такие слова могут добавить много шума, поэтому необходимо избавляться от нерелевантных слов.

Стоп-слова это обычно понимают артикли, междометия, союзы и т.д., которые не несут смысловой нагрузки. При этом надо понимать, что не существует универсального списка стоп-слов, все зависит от конкретного случая.

В NLTK есть предустановленный список стоп-слов. Перед первым использованием вам понадобится его скачать: nltk.download(“stopwords”). После скачивания можно импортировать пакет stopwords и посмотреть на сами слова

In [31]:
# import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords
# st = ['stop1', 'stop2', ...]

# Loading the stop words in english
stop_words = list(stopwords.words('english'))
stop_words[0:100]

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once']

In [32]:
df['Content_Parsed_6'] = df['Content_Parsed_5']

for stop_word in stop_words:

    regex_stopword = r"\b" + stop_word + r"\b"
    df['Content_Parsed_6'] = df['Content_Parsed_6'].str.replace(regex_stopword, '')

In [33]:
df.loc[0,'Content_Parsed_5']

"ad sales boost time warner profit  quarterly profit at us media giant timewarner jump 76% to $113bn (â£600m) for the three months to december from $639m year-earlier  the firm which be now one of the biggest investors in google benefit from sales of high-speed internet connections and higher advert sales timewarner say fourth quarter sales rise 2% to $111bn from $109bn its profit be buoy by one-off gain which offset a profit dip at warner bros and less users for aol  time warner say on friday that it now own 8% of search-engine google but its own internet business aol have have mix fortunes it lose 464000 subscribers in the fourth quarter profit be lower than in the precede three quarter however the company say aol underlie profit before exceptional items rise 8% on the back of stronger internet advertise revenues it hop to increase subscribers by offer the online service free to timewarner internet customers and will try to sign up aol exist customers for high-speed broadband timewarner also have to restate 2000 and 2003 result follow a probe by the us securities exchange commission (sec) which be close to conclude  time warner fourth quarter profit be slightly better than analysts' expectations but its film division saw profit slump 27% to $284m help by box-office flop alexander and catwoman a sharp contrast to year-earlier when the third and final film in the lord of the ring trilogy boost result for the full-year timewarner post a profit of $336bn up 27% from its 2003 performance while revenues grow 64% to $4209bn our financial performance be strong meet or exceed all of our full-year objectives and greatly enhance our flexibility chairman and chief executive richard parsons say for 2005 timewarner be project operate earn growth of around 5% and also expect higher revenue and wider profit margins  timewarner be to restate its account as part of efforts to resolve an inquiry into aol by us market regulators it have already offer to pay $300m to settle charge in a deal that be under review by the sec the company say it be unable to estimate the amount it need to set aside for legal reserve which it previously set at $500m it intend to adjust the way it account for a deal with german music publisher bertelsmann purchase of a stake in aol europe which it have report as advertise revenue it will now book the sale of its stake in aol europe as a loss on the value of that stake"

In [34]:
df.loc[0,'Content_Parsed_6']

"ad sales boost time warner profit  quarterly profit  us media giant timewarner jump 76%  $113bn (â£600m)   three months  december  $639m year-earlier   firm    one   biggest investors  google benefit  sales  high-speed internet connections  higher advert sales timewarner say fourth quarter sales rise 2%  $111bn  $109bn  profit  buoy  one- gain  offset  profit dip  warner bros  less users  aol  time warner say  friday     8%  search-engine google    internet business aol   mix fortunes  lose 464000 subscribers   fourth quarter profit  lower    precede three quarter however  company say aol underlie profit  exceptional items rise 8%   back  stronger internet advertise revenues  hop  increase subscribers  offer  online service free  timewarner internet customers   try  sign  aol exist customers  high-speed broadband timewarner also   restate 2000  2003 result follow  probe   us securities exchange commission (sec)   close  conclude  time warner fourth quarter profit  slightly better  analysts' expectations   film division saw profit slump 27%  $284m help  box-office flop alexander  catwoman  sharp contrast  year-earlier   third  final film   lord   ring trilogy boost result   full-year timewarner post  profit  $336bn  27%   2003 performance  revenues grow 64%  $4209bn  financial performance  strong meet  exceed    full-year objectives  greatly enhance  flexibility chairman  chief executive richard parsons say  2005 timewarner  project operate earn growth  around 5%  also expect higher revenue  wider profit margins  timewarner   restate  account  part  efforts  resolve  inquiry  aol  us market regulators   already offer  pay $300m  settle charge   deal    review   sec  company say   unable  estimate  amount  need  set aside  legal reserve   previously set  $500m  intend  adjust  way  account   deal  german music publisher bertelsmann purchase   stake  aol europe    report  advertise revenue    book  sale   stake  aol europe   loss   value   stake"

In [35]:
df.head()

  File_Name  ...                                   Content_Parsed_6
0   001.txt  ...  ad sales boost time warner profit  quarterly p...
1   002.txt  ...  dollar gain  greenspan speech   dollar  hit  h...
2   003.txt  ...  yukos unit buyer face loan claim   owners  emb...
3   004.txt  ...  high fuel price hit ba profit  british airways...
4   005.txt  ...  pernod takeover talk lift domecq  share  uk dr...

[5 rows x 10 columns]

In [38]:
list_columns = ["Category", "Content", "Content_Parsed"]
# df = df[list_columns]

df = df.rename(columns={'Content_Parsed_6': 'Content_Parsed'})
df = df[list_columns]
df.head()

   Category  ...                                     Content_Parsed
0  business  ...  ad sales boost time warner profit  quarterly p...
1  business  ...  dollar gain  greenspan speech   dollar  hit  h...
2  business  ...  yukos unit buyer face loan claim   owners  emb...
3  business  ...  high fuel price hit ba profit  british airways...
4  business  ...  pernod takeover talk lift domecq  share  uk dr...

[5 rows x 3 columns]

# Подготовка данных для обучения

In [39]:
category_codes = {
    'business': 0,
    'entertainment': 1,
    'politics': 2,
    'sport': 3,
    'tech': 4
}

df['Category_Code'] = df['Category']
df = df.replace({'Category_Code':category_codes})

df.head()

   Category  ... Category_Code
0  business  ...             0
1  business  ...             0
2  business  ...             0
3  business  ...             0
4  business  ...             0

[5 rows x 4 columns]

In [40]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['Content_Parsed'], 
                                                    df['Category_Code'], 
                                                    test_size=0.15, 
                                                    random_state=8)

# Векторизация текста

Text representation
We have various options:

- Count Vectors as features
- TF-IDF Vectors as features
- Word Embeddings as features
- Text / NLP based features
- Topic Models as features

We'll use TF-IDF Vectors as features.

We have to define the different parameters:

- ngram_range: We want to consider both unigrams and bigrams.
- max_df: When building the vocabulary ignore terms that have a document frequency strictly higher than the given threshold
- min_df: When building the vocabulary ignore terms that have a document frequency strictly lower than the given threshold.
- max_features: If not None, build a vocabulary that only consider the top max_features ordered by term frequency across the corpus.

See TfidfVectorizer? for further detail.

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer

ngram_range = (1,2)
# словные
# униграммы, биграммы

min_df = 10
max_df = 1.
max_features = 300

tfidf = TfidfVectorizer(encoding='utf-8',
                        ngram_range=ngram_range,
                        stop_words=None,
                        lowercase=False,
                        max_df=max_df,
                        min_df=min_df,
                        max_features=max_features,
                        norm='l2',
                        sublinear_tf=True)
                        
features_train = tfidf.fit_transform(X_train).toarray() # fit()-обучение transfrom()-применение
labels_train = y_train
print(features_train.shape)

features_test = tfidf.transform(X_test).toarray()
labels_test = y_test
print(features_test.shape)

(1891, 300)
(334, 300)

In [42]:
feature_names = tfidf.get_feature_names()
print("Feature names", feature_names)

Feature names ['10', '2003', '2004', '2005', 'able', 'accord', 'act', 'action', 'add', 'allow', 'already', 'also', 'although', 'announce', 'another', 'around', 'ask', 'attack', 'award', 'away', 'back', 'bank', 'bbc', 'beat', 'become', 'begin', 'believe', 'best', 'better', 'big', 'biggest', 'bill', 'blair', 'book', 'break', 'bring', 'britain', 'british', 'brown', 'build', 'business', 'buy', 'call', 'campaign', 'case', 'chance', 'change', 'charge', 'chief', 'china', 'claim', 'close', 'club', 'come', 'company', 'computer', 'concern', 'continue', 'control', 'cost', 'could', 'countries', 'country', 'court', 'create', 'cut', 'data', 'day', 'deal', 'decision', 'demand', 'despite', 'digital', 'director', 'drive', 'earlier', 'economic', 'economy', 'election', 'end', 'england', 'eu', 'europe', 'european', 'even', 'every', 'executive', 'expect', 'face', 'fail', 'fall', 'far', 'figure', 'file', 'film', 'final', 'find', 'firm', 'first', 'five', 'follow', 'force', 'foreign', 'former', 'four', 'france', 'future', 'game', 'general', 'get', 'give', 'go', 'good', 'government', 'great', 'group', 'grow', 'growth', 'half', 'hard', 'head', 'help', 'high', 'hit', 'hold', 'home', 'hop', 'house', 'howard', 'however', 'include', 'increase', 'industry', 'information', 'interest', 'international', 'internet', 'ireland', 'issue', 'job', 'keep', 'know', 'labour', 'last', 'last year', 'later', 'launch', 'law', 'lead', 'leave', 'legal', 'let', 'level', 'life', 'like', 'likely', 'line', 'list', 'live', 'london', 'long', 'look', 'lord', 'lose', 'lot', 'mail', 'make', 'many', 'market', 'match', 'may', 'mean', 'media', 'meet', 'million', 'minister', 'mobile', 'money', 'month', 'months', 'move', 'mr', 'mr blair', 'much', 'music', 'name', 'national', 'nations', 'need', 'net', 'network', 'new', 'news', 'next', 'number', 'offer', 'office', 'old', 'one', 'online', 'open', 'part', 'party', 'pay', 'people', 'phone', 'place', 'plan', 'play', 'player', 'players', 'point', 'power', 'president', 'price', 'prime', 'prime minister', 'program', 'provide', 'public', 'put', 'radio', 'real', 'really', 'record', 'release', 'remain', 'report', 'result', 'return', 'right', 'rise', 'rule', 'run', 'sales', 'say', 'say mr', 'second', 'security', 'see', 'sell', 'send', 'service', 'set', 'share', 'show', 'side', 'sign', 'since', 'six', 'software', 'spend', 'spokesman', 'star', 'start', 'state', 'still', 'support', 'system', 'take', 'talk', 'tax', 'team', 'technology', 'tell', 'tell bbc', 'term', 'test', 'think', 'third', 'three', 'time', 'title', 'top', 'trade', 'try', 'turn', 'tv', 'two', 'uk', 'unite', 'us', 'use', 'users', 'video', 'vote', 'wales', 'want', 'warn', 'way', 'week', 'well', 'win', 'without', 'work', 'world', 'would', 'year', 'year old', 'years']

In [44]:
df2 = pd.DataFrame(features_train, columns=feature_names)
df2.head()

         10      2003      2004  ...      year  year old     years
0  0.000000  0.000000  0.000000  ...  0.000000       0.0  0.000000
1  0.000000  0.000000  0.000000  ...  0.000000       0.0  0.000000
2  0.102259  0.000000  0.000000  ...  0.059050       0.0  0.000000
3  0.000000  0.193843  0.279994  ...  0.178303       0.0  0.000000
4  0.000000  0.000000  0.000000  ...  0.118387       0.0  0.160063

[5 rows x 300 columns]

# Подбор моделей

После того, как мы построим наши векторы признаков, мы попробуем несколько моделей классификации машинного обучения, чтобы найти, какая из них лучше всего работает с нашими данными. Мы попробуем со следующими моделями:

- Random Forest
- Support Vector Machine (SVC)
- K Nearest Neighbors (KNN)
- Multinomial Logistic Regression
- Gradient Boosting

- как подобрать гиперпараметры модели?
- как метрики для оценки модели использовать?
- нужна ли нормализация данных?

In [45]:
import pickle
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import svm
from pprint import pprint
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import ShuffleSplit
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

svc_base = svm.SVC(random_state=8)

print('Parameters currently in use:\n')
pprint(svc_base.get_params())

Parameters currently in use:

{'C': 1.0,
 'break_ties': False,
 'cache_size': 200,
 'class_weight': None,
 'coef0': 0.0,
 'decision_function_shape': 'ovr',
 'degree': 3,
 'gamma': 'scale',
 'kernel': 'rbf',
 'max_iter': -1,
 'probability': False,
 'random_state': 8,
 'shrinking': True,
 'tol': 0.001,
 'verbose': False}

In [46]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [47]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

- C: Penalty parameter C of the error term.
- kernel: Specifies the kernel type to be used in the algorithm.
- gamma: Kernel coefficient.
- degree: Degree of the polynomial kernel function.

## Подбор гиперпараметров модели

In [ ]:
# C
C = [.0001, .001, .01]

# gamma
gamma = [.0001, .001, .01, .1, 1, 10, 100]

# degree
degree = [1, 2, 3, 4, 5]

# kernel
kernel = ['linear', 'rbf', 'poly']

# probability
probability = [True]

# Create the random grid
random_grid = {'C': C,
              'kernel': kernel,
              'gamma': gamma,
              'degree': degree,
              'probability': probability
             }

pprint(random_grid)

{'C': [0.0001, 0.001, 0.01],
 'degree': [1, 2, 3, 4, 5],
 'gamma': [0.0001, 0.001, 0.01, 0.1, 1, 10, 100],
 'kernel': ['linear', 'rbf', 'poly'],
 'probability': [True]}

In [ ]:
# First create the base model to tune
svc = svm.SVC(random_state=8)

# Definition of the random search
random_search = RandomizedSearchCV(estimator=svc,
                                   param_distributions=random_grid,
                                   n_iter=50,
                                   scoring='accuracy',
                                   cv=3, 
                                   verbose=1, 
                                   random_state=8)

# Fit the random search model
random_search.fit(features_train, labels_train)

Fitting 3 folds for each of 50 candidates, totalling 150 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 150 out of 150 | elapsed: 15.2min finished

RandomizedSearchCV(cv=3, error_score=nan,
                   estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                                 class_weight=None, coef0=0.0,
                                 decision_function_shape='ovr', degree=3,
                                 gamma='scale', kernel='rbf', max_iter=-1,
                                 probability=False, random_state=8,
                                 shrinking=True, tol=0.001, verbose=False),
                   iid='deprecated', n_iter=50, n_jobs=None,
                   param_distributions={'C': [0.0001, 0.001, 0.01],
                                        'degree': [1, 2, 3, 4, 5],
                                        'gamma': [0.0001, 0.001, 0.01, 0.1, 1,
                                                  10, 100],
                                        'kernel': ['linear', 'rbf', 'poly'],
                                        'probability': [True]},
                   pre_dispatch='2*n_jobs', random_state=8, refit=True,
                   return_train_score=False, scoring='accuracy', verbose=1)

In [ ]:
# После перебора гиперпараметров, посмотрим которые лучшие

print("The best hyperparameters from Random Search are:")
print(random_search.best_params_)
print("")
print("The mean accuracy of a model with these hyperparameters is:")
print(random_search.best_score_)

The best hyperparameters from Random Search are:
{'probability': True, 'kernel': 'poly', 'gamma': 10, 'degree': 4, 'C': 0.01}

The mean accuracy of a model with these hyperparameters is:
0.9238497723442256

In [ ]:
best_svc = random_search.best_estimator_

best_svc.fit(features_train, labels_train)

best_svc_pred = best_svc.predict(features_test)

In [ ]:
# Training accuracy
print("The training accuracy is: ")
print(accuracy_score(labels_train, best_svc.predict(features_train)))

The training accuracy is:
1.0

In [ ]:
# Test accuracy
print("The test accuracy is: ")
print(accuracy_score(labels_test, best_svc_pred))

The test accuracy is:
0.9281437125748503

In [ ]:
base_model = svm.SVC(random_state = 8)
base_model.fit(features_train, labels_train)
accuracy_score(labels_test, base_model.predict(features_test))

0.9491017964071856

In [ ]:
best_svc.fit(features_train, labels_train)
accuracy_score(labels_test, best_svc.predict(features_test))

0.9281437125748503