In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
transactions_train=pd.read_csv("drive/My Drive/Colab Notebooks/дз1/transactions_train.csv")

In [4]:
train_target=pd.read_csv("drive/My Drive/Colab Notebooks/дз1/train_target.csv")

In [5]:
transactions_train.head()

   client_id  trans_date  small_group  amount_rur
0      33172           6            4      71.463
1      33172           6           35      45.017
2      33172           8           11      13.887
3      33172           9           11      15.983
4      33172          10           11      21.341

* client_id - уникальный идентификатор клиента
* trans_date - дата совершения транзакции
* small_group - категория покупки
* amount_rur - сумма транзакции

In [6]:
train_target.head(5)

   client_id  bins
0      24662     2
1       1046     0
2      34089     2
3      34848     1
4      47076     3

* client_id - уникальный идентификатор клиента, соответствует полю client_id из транзакций
* bins - целевая переменная, которую нужно предсказать, это категория возраста клиента

Посчитаем по каждому клиенту самые простые аггрегационные признаки.

In [7]:
agg_features=transactions_train.groupby('client_id')['amount_rur'].agg(['sum','mean','std','min','max']).reset_index()

In [8]:
agg_features.head()

   client_id        sum       mean         std    min       max
0          4  28404.121  39.450168   73.511624  0.043  1341.802
1          6  15720.739  21.535259   26.200397  0.045   315.781
2          7  53630.036  69.379089  253.261383  0.043  4505.971
3         10  34419.365  48.752642   63.191701  0.045   654.893
4         11  26789.404  32.991877  107.395139  0.388  2105.058

Посчитаем для каждого клиента количество транзакций по каждой категории.

In [9]:
counter_df_train=transactions_train.groupby(['client_id','small_group'])['amount_rur'].count()

In [10]:
cat_counts_train=counter_df_train.reset_index().pivot(index='client_id', \
                                                      columns='small_group',values='amount_rur')

In [11]:
cat_counts_train=cat_counts_train.fillna(0)

In [12]:
cat_counts_train.columns=['small_group_'+str(i) for i in cat_counts_train.columns]

In [13]:
cat_counts_train.head()

           small_group_0  small_group_1  ...  small_group_202  small_group_203
client_id                                ...
4                    0.0          447.0  ...              0.0              0.0
6                    2.0          397.0  ...              0.0              0.0
7                    2.0           79.0  ...              0.0              0.0
10                  12.0          309.0  ...              0.0              0.0
11                   2.0          423.0  ...              0.0              0.0

[5 rows x 202 columns]

Далее соединим все файлы в один датафрейм с таргетом.

In [14]:
train=pd.merge(train_target,agg_features,on='client_id')

In [15]:
train=pd.merge(train,cat_counts_train.reset_index(),on='client_id')

In [16]:
train.head()

   client_id  bins  ...  small_group_202  small_group_203
0      24662     2  ...              0.0              0.0
1       1046     0  ...              0.0              0.0
2      34089     2  ...              0.0              0.0
3      34848     1  ...              0.0              0.0
4      47076     3  ...              0.0              0.0

[5 rows x 209 columns]

Теперь подгрузим тестовые данные для того, чтобы сделать предсказание. Проделаем с ними те же самые манипуляции, как и с обучающими данными.

In [17]:
transactions_test=pd.read_csv("drive/My Drive/Colab Notebooks/дз1/transactions_test.csv")

test_id=pd.read_csv("drive/My Drive/Colab Notebooks/дз1/transactions_test.csv")

In [18]:
agg_features_test=transactions_test.groupby('client_id')['amount_rur'].agg(['sum','mean','std','min','max']).reset_index()

In [19]:
agg_features_test.head()

   client_id        sum       mean         std    min       max
0          0  17036.127  19.163247   40.561700  0.065   595.339
1          1  34748.964  47.666617   89.489278  0.298  1181.221
2          2  51188.069  68.433247  152.093601  0.043  2837.682
3          3  47975.203  67.857430  318.651653  0.043  6135.652
4          5  20059.100  21.803370   34.258433  0.043   439.902

In [20]:
counter_df_test=transactions_test.groupby(['client_id','small_group'])['amount_rur'].count()

In [21]:
cat_counts_test=counter_df_test.reset_index().pivot(index='client_id', columns='small_group',values='amount_rur')

In [22]:
cat_counts_test=cat_counts_test.fillna(0)

In [23]:
cat_counts_test.columns=['small_group_'+str(i) for i in cat_counts_test.columns]

In [24]:
cat_counts_test.head()

           small_group_0  small_group_1  ...  small_group_201  small_group_202
client_id                                ...
0                    0.0          226.0  ...              0.0              0.0
1                   30.0          326.0  ...              0.0              0.0
2                   21.0          242.0  ...              0.0              0.0
3                    0.0          156.0  ...              0.0              0.0
5                   16.0          398.0  ...              0.0              0.0

[5 rows x 202 columns]

In [25]:
test=pd.merge(test_id,agg_features_test,on='client_id')

В тесте не было некоторых категорий трат, поэтому для того, чтобы обучить модель, нам нужно объединить пространство признаков и train и test.

In [26]:
common_features=list(set(train.columns).intersection(set(test.columns)))

In [27]:
y_train=train['bins']
X_train=train[common_features]
X_test=test[common_features]

In [28]:
X = X_train
y = y_train

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X ,y , test_size=1/3)

model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(model.score(X_test, y_test))

0.3298

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)