In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import pandas as pd

wether

In [47]:
test= pd.read_csv("/content/gdrive/MyDrive/weather-prediction/test_weather.csv")
print(test)
test.shape

            Location  MinTemp  MaxTemp  ...  Temp9am  Temp3pm  RainToday
0         PearceRAAF     11.0     22.1  ...     14.7     20.7          0
1             Albury      5.6     20.7  ...     13.9     20.3          0
2              Cobar      9.5     18.4  ...     11.5     17.9          0
3             Albany     18.4     22.0  ...     20.7     21.4          0
4       MountGambier     10.4     20.7  ...     15.7     18.0          0
...              ...      ...      ...  ...      ...      ...        ...
13536  BadgerysCreek     13.1     26.7  ...     19.4     26.0          0
13537       Richmond     16.4     30.1  ...     21.6     29.7          0
13538          Uluru     22.9     32.9  ...     25.2     31.4          0
13539           Nhil     12.5     34.2  ...     21.1     31.3          0
13540       Canberra      1.1     13.1  ...      7.1     10.2          0

[13541 rows x 21 columns]

(13541, 21)

In [48]:
train= pd.read_csv("/content/gdrive/MyDrive/weather-prediction/train_weather.csv")
print(train)
train.shape

             Location  MinTemp  MaxTemp  ...  Temp3pm  RainToday  RainTomorrow
0            Brisbane     13.7     23.6  ...     22.3          0             0
1              Sydney     15.4     21.2  ...     20.7          1             1
2            Richmond     16.8     30.9  ...     30.0          0             0
3       NorfolkIsland     13.9     17.1  ...     15.8          0             0
4             Mildura     16.0     36.1  ...     34.9          0             0
...               ...      ...      ...  ...      ...        ...           ...
121868      GoldCoast     17.6     25.1  ...     24.2          0             0
121869       Adelaide     15.1     25.2  ...     24.6          0             0
121870    MountGinini     10.5     18.4  ...     15.9          1             1
121871       Adelaide     13.6     19.8  ...     18.9          1             1
121872        Walpole      6.9     15.9  ...     14.3          0             0

[121873 rows x 22 columns]

(121873, 22)

смотрим типы данных

In [49]:
print(train.info())
print(train.dtypes)

print(test.info())
print(test.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121873 entries, 0 to 121872
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       121873 non-null  object
 1   MinTemp        120652 non-null  float64
 2   MaxTemp        120842 non-null  float64
 3   Rainfall       119145 non-null  float64
 4   Evaporation    71329 non-null   float64
 5   Sunshine       65698 non-null   float64
 6   WindGustDir    113157 non-null  object
 7   WindGustSpeed  113212 non-null  float64
 8   WindDir9am     112959 non-null  object
 9   WindDir3pm     118519 non-null  object
 10  WindSpeed9am   120354 non-null  float64
 11  WindSpeed3pm   119528 non-null  float64
 12  Humidity9am    119642 non-null  float64
 13  Humidity3pm    118491 non-null  float64
 14  Pressure9am    109238 non-null  float64
 15  Pressure3pm    109271 non-null  float64
 16  Cloud9am       75814 non-null   float64
 17  Cloud3pm       73397 non-null   float64
 18  Temp9am        120340 non-null  float64
 19  Temp3pm        119217 non-null  float64
 20  RainToday      121873 non-null  int64
 21  RainTomorrow   121873 non-null  int64
dtypes: float64(16), int64(2), object(4)
memory usage: 20.5+ MB
None
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday          int64
RainTomorrow       int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13541 entries, 0 to 13540
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       13541 non-null  object
 1   MinTemp        13409 non-null  float64
 2   MaxTemp        13418 non-null  float64
 3   Rainfall       13256 non-null  float64
 4   Evaporation    7933 non-null   float64
 5   Sunshine       7330 non-null   float64
 6   WindGustDir    12565 non-null  object
 7   WindGustSpeed  12573 non-null  float64
 8   WindDir9am     12547 non-null  object
 9   WindDir3pm     13146 non-null  object
 10  WindSpeed9am   13365 non-null  float64
 11  WindSpeed3pm   13258 non-null  float64
 12  Humidity9am    13304 non-null  float64
 13  Humidity3pm    13140 non-null  float64
 14  Pressure9am    12159 non-null  float64
 15  Pressure3pm    12160 non-null  float64
 16  Cloud9am       8407 non-null   float64
 17  Cloud3pm       8150 non-null   float64
 18  Temp9am        13383 non-null  float64
 19  Temp3pm        13222 non-null  float64
 20  RainToday      13541 non-null  int64
dtypes: float64(16), int64(1), object(4)
memory usage: 2.2+ MB
None
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday          int64
dtype: object

проверка на пустые значения

In [50]:
print("________________________________________")
print(train.isna().sum())
print("________________________________________")
print(test.isna().sum())

________________________________________
Location             0
MinTemp           1221
MaxTemp           1031
Rainfall          2728
Evaporation      50544
Sunshine         56175
WindGustDir       8716
WindGustSpeed     8661
WindDir9am        8914
WindDir3pm        3354
WindSpeed9am      1519
WindSpeed3pm      2345
Humidity9am       2231
Humidity3pm       3382
Pressure9am      12635
Pressure3pm      12602
Cloud9am         46059
Cloud3pm         48476
Temp9am           1533
Temp3pm           2656
RainToday            0
RainTomorrow         0
dtype: int64
________________________________________
Location            0
MinTemp           132
MaxTemp           123
Rainfall          285
Evaporation      5608
Sunshine         6211
WindGustDir       976
WindGustSpeed     968
WindDir9am        994
WindDir3pm        395
WindSpeed9am      176
WindSpeed3pm      283
Humidity9am       237
Humidity3pm       401
Pressure9am      1382
Pressure3pm      1381
Cloud9am         5134
Cloud3pm         5391
Temp9am           158
Temp3pm           319
RainToday           0
dtype: int64

обработка пустых значений

In [51]:
mean_class = train['MinTemp'].mean()
print(round(mean_class))

train['MinTemp'] = train['MinTemp'].fillna(mean_class)
print(train.isna().sum())

12
Location             0
MinTemp              0
MaxTemp           1031
Rainfall          2728
Evaporation      50544
Sunshine         56175
WindGustDir       8716
WindGustSpeed     8661
WindDir9am        8914
WindDir3pm        3354
WindSpeed9am      1519
WindSpeed3pm      2345
Humidity9am       2231
Humidity3pm       3382
Pressure9am      12635
Pressure3pm      12602
Cloud9am         46059
Cloud3pm         48476
Temp9am           1533
Temp3pm           2656
RainToday            0
RainTomorrow         0
dtype: int64

In [52]:
mean_class = train['MaxTemp'].mean()
print(round(mean_class))

train['MaxTemp'] = train['MaxTemp'].fillna(mean_class)
print(train.isna().sum())

23
Location             0
MinTemp              0
MaxTemp              0
Rainfall          2728
Evaporation      50544
Sunshine         56175
WindGustDir       8716
WindGustSpeed     8661
WindDir9am        8914
WindDir3pm        3354
WindSpeed9am      1519
WindSpeed3pm      2345
Humidity9am       2231
Humidity3pm       3382
Pressure9am      12635
Pressure3pm      12602
Cloud9am         46059
Cloud3pm         48476
Temp9am           1533
Temp3pm           2656
RainToday            0
RainTomorrow         0
dtype: int64

In [53]:
mean_class = train['Rainfall'].mean()
print(round(mean_class))

train['Rainfall'] = train['Rainfall'].fillna(mean_class)
print(train.isna().sum())

2
Location             0
MinTemp              0
MaxTemp              0
Rainfall             0
Evaporation      50544
Sunshine         56175
WindGustDir       8716
WindGustSpeed     8661
WindDir9am        8914
WindDir3pm        3354
WindSpeed9am      1519
WindSpeed3pm      2345
Humidity9am       2231
Humidity3pm       3382
Pressure9am      12635
Pressure3pm      12602
Cloud9am         46059
Cloud3pm         48476
Temp9am           1533
Temp3pm           2656
RainToday            0
RainTomorrow         0
dtype: int64

In [54]:
mean_class = train['Evaporation'].mean()
train['Evaporation'] = train['Evaporation'].fillna(mean_class)

mean_class = train['Sunshine'].mean()
train['Sunshine'] = train['Sunshine'].fillna(mean_class)

mean_class = train['WindGustSpeed'].mean()
train['WindGustSpeed'] = train['WindGustSpeed'].fillna(mean_class)

mean_class = train['WindSpeed9am'].mean()
train['WindSpeed9am'] = train['WindSpeed9am'].fillna(mean_class)

mean_class = train['WindSpeed3pm'].mean()
train['WindSpeed3pm'] = train['WindSpeed3pm'].fillna(mean_class)

mean_class = train['Humidity9am'].mean()
train['Humidity9am'] = train['Humidity9am'].fillna(mean_class)

mean_class = train['Humidity3pm'].mean()
train['Humidity3pm'] = train['Humidity3pm'].fillna(mean_class)

mean_class = train['Pressure9am'].mean()
train['Pressure9am'] = train['Pressure9am'].fillna(mean_class)

mean_class = train['Pressure3pm'].mean()
train['Pressure3pm'] = train['Pressure3pm'].fillna(mean_class)

mean_class = train['Cloud9am'].mean()
train['Cloud9am'] = train['Cloud9am'].fillna(mean_class)

mean_class = train['Cloud3pm'].mean()
train['Cloud3pm'] = train['Cloud3pm'].fillna(mean_class)

mean_class = train['Temp9am'].mean()
train['Temp9am'] = train['Temp9am'].fillna(mean_class)

mean_class = train['Temp3pm'].mean()
train['Temp3pm'] = train['Temp3pm'].fillna(mean_class)
print(train.isna().sum())

Location            0
MinTemp             0
MaxTemp             0
Rainfall            0
Evaporation         0
Sunshine            0
WindGustDir      8716
WindGustSpeed       0
WindDir9am       8914
WindDir3pm       3354
WindSpeed9am        0
WindSpeed3pm        0
Humidity9am         0
Humidity3pm         0
Pressure9am         0
Pressure3pm         0
Cloud9am            0
Cloud3pm            0
Temp9am             0
Temp3pm             0
RainToday           0
RainTomorrow        0
dtype: int64

In [58]:
train = train.dropna()
print(train.isna().sum())

Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

преобразовываем категориальные признаки

In [59]:
train = pd.get_dummies(train, columns=['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm'])
train

        MinTemp  MaxTemp  ...  WindDir3pm_WNW  WindDir3pm_WSW
0          13.7     23.6  ...               0               0
1          15.4     21.2  ...               0               0
2          16.8     30.9  ...               0               0
3          13.9     17.1  ...               0               0
4          16.0     36.1  ...               0               0
...         ...      ...  ...             ...             ...
121868     17.6     25.1  ...               0               0
121869     15.1     25.2  ...               0               1
121870     10.5     18.4  ...               0               0
121871     13.6     19.8  ...               0               1
121872      6.9     15.9  ...               0               0

[106201 rows x 113 columns]

In [75]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
X = train.drop(['RainTomorrow'], axis=1)
y = train['RainTomorrow']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3)

model = LogisticRegression()
model.fit(X_train, y_train)
answers_pred = model.predict(X_train)
print(model.score(X_test, y_test))

0.8404632622955965

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [76]:
otvet = pd.DataFrame(answers_pred, columns=['RainTomorrow'])
otvet.reset_index(inplace=True)

otvet

       index  RainTomorrow
0          0             0
1          1             1
2          2             1
3          3             0
4          4             0
...      ...           ...
74335  74335             0
74336  74336             1
74337  74337             0
74338  74338             0
74339  74339             0

[74340 rows x 2 columns]

In [78]:
from google.colab import files
otvet.to_csv('solovyeva.csv', index=False)
files.download("solovyeva.csv")